[2016-01-13 22:37] hbcheng commented on #575
[code]
[code]

As described in system.local, rpc_address is 172.17.0.3, everything else is set to default/localhost.

[2016-01-14 15:43] nemothekid opened #579 "Cassandra 3.2 doesn't return patch in CQL version; gocql fails to start"
[code]

It seems Cassandra 3.2 reports its schema version as just 3.2, rather than 3.2.0.

[2016-01-14 15:55] Zariel commented on #579
That is mildly annoying

[2016-01-14 16:45] Zariel opened #581 "TestStream0 is racy"
Seen this a few times in travis

[code]

[2016-01-14 16:45] #579 closed

[2016-01-14 16:46] Zariel commented on #579
Thanks @nemothekid

[2016-01-14 17:51] ttqin opened #582 "Poor read/write performance with latest commit 496fdda"
Hi there,

We seem to be getting poor C* read and write performance after building against latest gocql/gocql, commit hash 496fdda0436cec5c0f0f361b34a686e501662d80. Reverting back to fe1bd1bc33e6a89c5cdbf0bf8847aea79fde19a2 seems to fix this issue, so the 4 PR's that have been merged in may have caused the issue.

read rate 100,000/s dropped to 4,200/s
write rate 10,000/s dropped to 600/s

I'm not

[2016-01-14 18:57] Zariel commented on #582
Thanks ill take a look at this, do you have any pprofs?

[2016-01-15 11:00] obeattie opened #584 "HostFilter is useless"
The new `HostFilter` interface is – as far as I can tell – useless, as it is a [private attribute of `Session`](https://github.com/gocql/gocql/blob/master/session.go#L47). Can this be made public?

[2016-01-15 11:04] obeattie commented on #584
Separately, I would like a mechanism to disable the automatic host discovery entirely. In our case, we know precisely which nodes we would like our services to connect to, and we don't want them doing discovery on their own. I believe this is made partially possible if `HostFilter` worked, but that doesn't prevent it executing the "discovery queries" in the first place.

[2016-01-15 11:17] Zariel commented on #584
I intended to add the HostFilter interface but didnt get round to it. Ill open a separate issue to disable host discovery.

[2016-01-15 11:17] Zariel opened #585 "Add option to disable host discovery"

[2016-01-15 11:42] danielchatfield commented on #575
Could this be caused by the host discovery? i.e. it connects and then tries to connect to hosts with incorrect IP because of docker weirdness.

[2016-01-15 11:51] Zariel commented on #575
@danielchatfield yes I think the reason is either the cassandra node is incorrectly configured (im not entirely sure how the 6 _address map to system.peers table) or we are using the wrong address from system.peers to connect to, the latter is what is most likely the issue.

I have a feeling we should use the address from the event to connect if it is different to what we get from the system.peers

[2016-01-15 11:51] obeattie commented on #575
Yes, this is caused by #585 (in the case of certain docker setups, C* listens on a different IP than clients use because Docker proxies connections).

[2016-01-15 11:52] obeattie commented on #575
In my case, I am using `docker-machine`, so C* is listening within the VM on a loopback address but Docker is proxying it through another network interface to break out of the VM.

[2016-01-15 12:11] Zariel opened #586 "Events tests are flaky in travis"
The events tests are flaky in travis, most likely due to travis being slow at times. Add a debug flag to enable debugging events in travis and increase wait times for node changes.

[2016-01-15 12:34] Zariel commented on #575
@obeattie can you confirm that the issue that you see is that when gocql looks up the host info in system.peers its all wrong, so that when the pool uses that to connect instead of the ones supplied, no connections are created?

[2016-01-15 12:39] obeattie commented on #575
Yes, that's exactly what is happening. Specifically, because C* is being accessed via a proxy (in this case `docker-proxy`), `gocql` can't reach it at the address C* is broadcasting/listening on.

I think the host discovery mechanism is valuable and a worthwhile addition to the library, but it should be possible to disable it in favour of explicitly connecting to specified hosts. It would help in

[2016-01-15 12:56] Zariel commented on #575
That case wont be fixed by disable host discovery, the driver would also need to disable all the host info looks (which I guess fail as well), which in turn will probably mean token aware routing wont work.

A work around which I think will fix this case is to do the host lookup in `system.peers` and then use the supplied address (either via event or initial hosts) instead of the discovered one. B

[2016-01-15 14:51] #584 closed

[2016-01-15 14:51] Zariel commented on #575
@hbcheng @obeattie can you check if the new options added to cluster address this issue for you?

[2016-01-15 15:12] #585 closed

[2016-01-15 15:20] Zariel opened #592 "schema consistency is still an issue in travis"
Even though we try very hard to ensure schema is consistent after operations, there are still tests failing consistently when running against the 3 node ccm cluster.

[2016-01-15 20:54] mediocregopher opened #594 "Error connecting to cassandra 3.0"
I get this error when trying to connect to a cassandra 3.0 instance with default configuration:

[code]

I didn't get this error previously, I believe I checked out gocql sometime last week and it was working fine until I pulled today.

Also, could I get some clarification on what cassandra versions are supported? The README states both that only up to 2.2.x is tested and that:

Which is contradic

[2016-01-15 21:50] Zariel commented on #594
This is probably just due to needing to use protocol 4. We cant update the integration tests to test against cassandra 3 as it requires java 8 which we cant install in travis yet.

[2016-01-15 22:17] bkeroackdsc opened #595 "Unmarshaling frozen UDT with missing field panics"
[code]

I have a UDT which previously had two fields: timestamp, text string.

I added a new field to the UDT: error flag (boolean).

I have a table that contains a frozen list of that UDT.

Trying to read a row that contains old versions of the frozen type panics.

This is the line that triggers the panic:
[code]

Is this intended behavior?

[2016-01-15 22:30] hbcheng commented on #575
@Zariel Thank you for the quick turnaround on this. I'll deploy it to our CI system and report back as soon as I can.

[2016-01-15 23:20] hbcheng commented on #575
Can confirm that `DisableInitialHostLookup` worked on our end; `IgnorePeerAddr` did not make a difference one way or another.

Please let me know if there's any additional testing or configuration details I can provide.

[2016-01-16 14:58] #586 closed

[2016-01-16 15:19] Zariel commented on #595
Can you provide a reproducible schema and example? Is it any different to this test? https://github.com/gocql/gocql/blob/3040d7651aec823f99944c19e5357973b93255ec/udt_test.go#L344

[2016-01-16 15:24] Zariel commented on #595
I dont really see how that panics there, as it should have paniced at the line above, the code in question is

[code]

What version of gocql are you using?

[2016-01-16 17:19] #595 closed

[2016-01-17 21:40] mediocregopher commented on #594
Not sure if you meant 3 or 4 there, but setting `ProtoVersion = 3` did indeed fix it so thanks for setting me on the right path!

[2016-01-17 21:40] #594 closed

[2016-01-18 09:03] evildecay opened #602 "last version gocql runtime error"
use old version no problem, but update last version error.
error message: no connections were made when creating the session

because use go-hostpool ?

[2016-01-18 09:33] Zariel commented on #602
This is probably a duplicate of #575

[2016-01-18 10:15] flei2000 opened #603 "Map cassandra port number in docker container from 9042 to 19042, connect fails"
Start cassandra in a docker container and map the port number from 9042 inside to 19042 outside. Then cluster.CreateSession() fails with error message:
`no connections were made when creating the session`
But if I change the port number of cassandra in the container to 19042 and map it to 19042 outside, it succeeds.

[2016-01-18 10:32] Zariel commented on #603
What address are you using to dial?

[2016-01-18 10:58] Zariel commented on #565
@DaveHasteSpringer hi, I can't reproduce this, after running the test suite all connections to :9042 are closed, running the supplied program the same occurs.

[2016-01-18 11:19] DaveHasteSpringer commented on #565
@Zariel That's strange. It's extremely reproducible for me, on at least two platforms!

I'll take another look at it, and maybe create a fresh Golang build environment in case it's a problem with my setup. I'll report back with my findings.

[2016-01-18 12:02] flei2000 commented on #603
localhost. I bind 0.0.0.0:19042->9042. `cqlsh localhost 10942` works but `gocql` does not. I'm using Ubuntu 14.04, cassandra 2.2.4 and docker image `cassandra:2.2.4`/

[2016-01-18 14:14] DaveHasteSpringer commented on #565
@Zariel OK, I've managed to make some sense of this.

For my original report on 11th January, I was using the most recent commit to master (1dd55ddf77779788d00913b2962a1f995052117d). The file descriptor leak was certainly evident with that version (and is still reproducible using that version on a new clean system).

The latest code in master does not appear to exhibit this problem. After a bit of

[2016-01-18 22:52] batflaps commented on #538
My code still pukes with same error, here's my code:
[code]
Am I doing something obviously wrong? I'm running Cassandra 3.1.1

[2016-01-19 08:32] Zariel commented on #538
Once the session is started the cluster config cant be changed, you need to set it with other config options, like the Keyspace.

[2016-01-19 20:58] jstoiko commented on #575
Stumbled upon this issue. To reproduce:
[code]
Then use echoed `<ip>`:`<port>` to connect, e.g. gocql.NewCluster("`<ip>`:`<port>`")

`DisableInitialHostLookup` does the trick.

[2016-01-19 22:39] batflaps commented on #538
It worked! Thanks @Zariel . Here's my working code in case that helps anyone:
[code]

[2016-01-21 22:33] Zariel commented on #582
@ttqin Ive been doing some benchmarking using pre prepared frames and so far I don't see such a large performance regression. My 4 core i5 macbook gives these numbers,

[code]

This load is using `select * from system.schema_columns`. Can you give any more details on what sort of load you see such a drop in performance with.

[2016-01-21 22:54] ttqin commented on #582
@Zariel apologies for the delay in replying. Unfortunately, I don't have any pprofs readily available.

The workload is doing large number of reads and then upserts of the same rows. Would you be able to modify your benchmark to try this?

[2016-01-22 09:43] ekle opened #605 "runtime: bad pointer in frame github.com/gocql/gocql.unmarshalUDT at 0xc82003e390: 0x4"
i have this problem with the current master: 1a31c48ed2bf802c323bae85c69f7ab3110c8fb3
go version is 1.5.3 at linux-amd64 debian jessie
cassandra version is 2.1.12
i init the db with the following settings:
[code]
if i just add a log.Print() before ../db/log.go:40 the error disappears.
i have the problem on 2 servers.
it may is related to the use of zero-UUIDs in Maps-keys. but i'm not sure about t

[2016-01-22 11:06] Zariel commented on #605
Can you share a reproducible schema and query?

[2016-01-22 12:01] ekle commented on #605
sorry no, even simple changes in the code, like adding a log.Print() removes the panic

[2016-01-22 12:09] Zariel commented on #605
Can you try with go 1.6 beta2?

[2016-01-22 12:22] ekle commented on #605
a go updated fixed the issue. thx.

[2016-01-22 12:22] #605 closed

[2016-01-22 14:07] Zariel commented on #602
duplicates #575

[2016-01-22 14:07] #602 closed

[2016-01-22 14:07] Zariel commented on #581
This this is now fixed

[2016-01-22 14:08] Zariel commented on #603
This is a duplicate of #575, I guess I need to update the readme to indicate that when cassandras internal port does not match its external port the config needs to disable inital host lookup.

[2016-01-22 14:08] #603 closed

[2016-01-26 20:52] Zariel commented on #572
@kristoiv what sort of API makes sense for tuple unmarshalling? Type should be able to unmarshal into a single tuple column?

So far the best I can think of is `[]interface{}` or a list of anything, map would work as well.

[2016-01-26 22:15] #205 closed

[2016-01-27 04:44] bkeroackdsc opened #609 ""no connections available" error"
I have a web application which creates a global Session object during startup which the various HTTP handlers then use.

This application runs fine for a period of hours or days but then it starts throwing ``no connections available`` errors when trying to execute queries. I've tried increasing ``NumConns`` in ClusterConfig to  20 and ``SocketKeepalive`` to 30 seconds. This didn't seem to improve

[2016-01-27 05:09] nemothekid commented on #609
I saw a similar issue a couple days ago with Cassandra 3.2 using the latest code - my Cassandra databases were flapping, and services on newer-ish gocql code had the problem you described. However, after getting my cluster stable, I no longer see the errors. #596 might be related.

OTOH, you could also switch to the `pre-node-events` tree and see if you see the same issue (if you are getting this

[2016-01-27 08:38] Zariel commented on #609
I think there may be some cases where the driver can never reconnect to the cluster if it doesn't get an event that a host went up.

[2016-01-27 08:41] Zariel commented on #609
Also if you build with the tag `gocql_debug` it will log out all incoming events, which will be helpful in debugging this.

[2016-01-27 10:53] crufter commented on #609
I am experiencing the same thing, once we start killing nodes in the Cassandra cluster one by one (as a sort of manual chaos monkey), we get this error.

We also use a single session created at service startup and reuse that everywhere.

[2016-01-27 17:41] bkeroackdsc commented on #609
If it matters, in my case it's a single node C* "cluster".

[2016-01-27 23:19] Zariel commented on #609
Working on a fix

[2016-01-28 09:46] #609 closed

[2016-01-28 09:49] ekle opened #612 "[applied] on update map missing"
hi,
the following works with 39654ebf717c7a9511f7d1ab49ca58d8958fbc0c.
But after d3c6beeb242c9b29c2b147c5f1f142eb0e8d694b it does not work anymore.
[code]

[2016-01-28 10:20] Zariel commented on #612
You should use `query.MapScanCAS` to do the CAS operation

[2016-01-28 10:23] Zariel commented on #612
This is because for some reason when preparing a CAS statement Cassandra does not include the applied column, but when you execute the query it is included in the response metadata, which we skip for non-cas operations. Im not sure if this is a bug in Cassandra or not.

[2016-01-28 11:43] Zariel commented on #609
@bkeroackdsc @crufter @nemothekid if you see this again please reopen but I think it should be fixed, the control connection will now try to connect to the initial hosts and mark them as up if there are no available hosts to connect to.

[2016-01-28 19:27] bkeroackdsc commented on #609
thanks @Zariel

I'm deploying the fix today and will reopen if I run into the issue again.

[2016-01-29 12:05] kristoiv commented on #572
I think a slice or an array makes the most sense. Sure you'll have to type assert it before using it but a map makes less sense since you won't have keys in the tuple anyway.

I guess the problem is how the unmarshalling happens now. I haven't studied the binary protocol enough to suggest an actual implementation, but as far as I understood the column will have nested values that could be handled

[2016-01-29 22:38] markuscraig opened #613 "Not able to match the Node.js driver write performance using the Go driver"
Hey Crew,

I'd like to use Go with Cassandra, but I'm getting much better write performance with the Node.js driver (almost 5x write performance with no timeouts).  I feel like I must be doing something really wrong.

My test code below is simply updating counters millions of times using batch queries (using the same number of entries per batch in both Go and Node; 1000 entries), but I'm seeing dr

[2016-01-30 07:42] ssenthil416 opened #614 "Getting installation issue"
go get github.com/gocql/gocql
github.com/gocql/gocql/helpers.go:14:2: no buildable Go source files in /root/go/src/gopkg.in/inf.v0

[2016-01-30 13:15] Zariel commented on #613
Thanks, ill take a look. As a note the default timeout for the nodejs driver looks to be 15seconds, whereas gocql is 600ms

[2016-01-30 16:39] Zariel commented on #614
This works for me in a clean environment, most likely networking issues.

[2016-01-30 16:39] #614 closed

[2016-01-30 22:23] Zariel commented on #582
#615 and #607 should both improve read performance a fair amount, but im still unable to figure out what would cause such a large drop off in performance What Go version is being used?

[2016-01-31 04:07] markuscraig commented on #613
Changing the Gocql timeout helped, but still the same slower performance.

I'm wondering if the statements are not getting automatically prepared by Gocql for some reason?

When I disable prepared statements in the Node.js version, I see very similar slower write performance.

[2016-01-31 06:24] nemothekid commented on #613
Statements in gocql are automatically prepared, however prepared-ness shouldn't matter in your case seeing as you aren't using any placeholders.

[2016-02-01 01:32] mpmlj opened #621 "String conversion/sanitization issue"
Hi,

I'm storing a string "worst%25pa%24th%60ev%0dr-%2comg" via
b.Query(`UPDATE stories SET path = ? WHERE 	story_id = ?`, p.Path)  (part of a batch)

The string above is a result of QueryEscape() from the "net/url" package.

After save, the string appears differently In Cassandra:

was: "worst%25pa%24th%60ev%**0d**r-%2comg"
now: "worst%25pa%24th%60ev%**5cr**r-%2comg"

However, when doing insert d

[2016-02-01 11:51] Zariel commented on #621
What is the column type being inserted into?

[2016-02-01 12:13] mpmlj commented on #621
@Zariel, "text".

[2016-02-01 13:13] Zariel commented on #621
I'm unable to reproduce this locally, can you provide a test case which fails? This is what I used.

[code]

[2016-02-01 20:02] mediocregopher opened #622 "Debugging "no connections available""
Howdy! I'm currently setting up a client like so:

[code]

This connection is then used by our api when handling requests. Randomly we'll see it return the error `no connections available`. Adding the `SocketKeepalive` seems to have helped with the problem, but it still happens occasionally. Subsequent requests to the api don't generate the error and go through successfully, so I guess the driver

[2016-02-01 20:08] nemothekid commented on #622
See #609, which should/may have been fixed by #610. What commit version of the driver are you using?

[2016-02-01 20:16] mediocregopher commented on #622
Thanks for the quick response! I'm not sure of the exact commit, but our build system does a fresh `go get -u` on every build, and the build was made about 3 days ago (1/29/2016), so that fix *should* have been in there.

Our "cluster" is actually only one node at the moment, if that affects anything at all, that other issue seems to have had something to do with nodes' connections to each other f

[2016-02-01 20:18] Zariel commented on #622
It could be that the pool trys to dial the host and fails. You can add logging to https://github.com/gocql/gocql/blob/84d36abe91cd4cc178592a546b6e3a1ec015a692/connectionpool.go#L537 to check what error and if the connection is closed.

You can also build with `gocql_debug` tag which will debug event frames coming in. If you have events enabled then the driver will detect the downed host via events

[2016-02-01 20:19] Zariel commented on #622
Also if this is an intermittent problem for the cluster it might be worth adding a retry policy to retry the queries.

[2016-02-01 21:35] mediocregopher commented on #622
Thanks, I'll try adding the logging in and see what comes up. Looking at the logs around that time I'm not seeing any other services having any troubles so I don't think it's a general packet loss issue or anything like that, but I guess we'll find out.

[2016-02-02 00:37] mpmlj commented on #621
@Zariel
Apologies, issue on my side. Appreciate your prompt response with a test!

[2016-02-02 00:37] #621 closed

[2016-02-02 10:07] dancannon commented on #582
@Zariel I have finally managed to find some more time to look into this issue. I can now reliably reproduce it with a benchmark (I would share the code but it uses quite a bit of internal code, if I can't figure out anything else I will try to come up with a new test just using gocql). Essentially the test just executes many writes against a real cassandra cluster, I am also extending the length o

[2016-02-02 11:46] dancannon commented on #582
Another update, setting `disableControlConn` to true seems to fix the performance issues (https://github.com/gocql/gocql/blob/master/session.go#L121). I have yet to figure out why this is though.

[2016-02-02 11:53] Zariel commented on #582
Thats interesting. Have you looked cpu profiles for the 2 runs?

[2016-02-02 11:59] dancannon commented on #582
@Zariel, I have had a look but couldnt see anything obvious, here are the svg outputs https://www.dropbox.com/sh/pax8d38eo2cfe12/AACPhwVXKAVpf5QFamrdLdrea?dl=0. Let me know if you would like any of the other outputs.

[2016-02-02 12:12] Zariel commented on #582
That looks odd, the slow case seems to be spending a bunch of time doing `NewSession`. Have you tried with latest master?

[2016-02-02 12:21] dancannon commented on #582
I just ran the benchmark with `master` and got the same result. I added the profiles to the dropbox directory with the `_master` suffix (this time the benchmarks ran with `-benchtime=30s`).

Also setting `disableControlConn` to true improved the performance again, strangely enough `NewSession` only runs once per benchmark so it shouldnt affect the results too much.

[2016-02-02 12:40] dancannon commented on #582
Yet another update, setting `DisableInitialHostLookup` to true and commenting out everything in `refreshRing` also fixes the performance issues (both need to be done).

[2016-02-02 12:49] Zariel commented on #582
Is it just `NewSession` being slow or is it also the queries? Looking at it newConnPool will block the whole connection pool whilst dialing where it shouldnt. We also duplicate calls to refreshRing unnecessarily, ill look into fixing these.

[2016-02-02 13:02] Zariel commented on #582
Could you benchmark just `NewSession`? What sort of cluster are you running?

[2016-02-02 13:32] dancannon commented on #582
I just ran some more benchmarks with the different parts of the query annotated.

[code]

What I noticed was that the first query (when the session is still nil) was very slow and took multiple seconds.

[code]

Queries after this take much less time, however occasionally queries take around 5 times longer, I reverted to the previous hash and in that version the query times are stable at around 30

[2016-02-02 14:29] dancannon commented on #582
Oh no.... I have found out why queries were being affected. I was wrong when I said it was a 3 node cluster as it is a multi-datacenter cluster with 3 nodes in each datacenter. So when gocql discovered the hosts it was discovering hosts in the datacenter that is in a different region...

Really sorry I wasted your time with this issue, hopefully this at least helps you speed up `NewSession` a bit.

[2016-02-02 15:13] Zariel commented on #582
No worries, glad it wasn't a serious problem in the driver. Ill create some more tickets for the issues with refreshRing and NewSession. Thanks very much for the help!

[2016-02-02 15:13] #582 closed

[2016-02-02 16:42] Zariel commented on #582
@dancannon Ive found an issue which would lead to adding hosts which dont pass the host filter, fixing.

[2016-02-02 17:18] Zariel opened #625 "The driver makes excessive calls to refreshRing"

[2016-02-02 18:56] #565 closed

[2016-02-02 19:13] Zariel opened #626 "Remove legacy host filter"

[2016-02-02 20:57] robzienert opened #627 "nil pointer reference on connectionpool failure"
[code]

I'm using a config that looks like this:

[code]

Version 414bacaf471db726f19ce4389f998447f92c08f4

[2016-02-02 21:52] Zariel commented on #627
Thanks for the report!

[2016-02-02 21:52] #627 closed

[2016-02-03 01:48] nikandfor opened #629 "uint64 unmarshalling"
go uint64 type is marshallable to varint but it can't be unmarshalled if value > MaxInt64

https://github.com/gocql/gocql/blob/master/marshal.go#L439
https://github.com/gocql/gocql/blob/master/marshal.go#L418

It could be fixed somethink like this:
[code]

[2016-02-03 09:36] Zariel commented on #629
Looks good, want to submit a pull request?

[2016-02-03 13:54] nikandfor commented on #629
I'll try but without compilation.
I get error when I compile fork.
[code]

[2016-02-03 15:15] Zariel commented on #629
@nikandfor I left feedback on the PR to get it to compile and pass the tests, it should work if you clone it to `$GOPATH/src/github.com/gocql/gocql`

[2016-02-03 17:52] nikandfor commented on #629
@Zariel thank you for help.
Now I read about build tags and I could test it on my laptop :)

[2016-02-03 19:08] Zariel commented on #629
Fixed via #630

[2016-02-03 19:08] #629 closed

[2016-02-03 20:33] Zariel commented on #629
Thanks for the contribution :)

[2016-02-04 15:38] jalkanen opened #634 "Panic in connectionpool.go"
Heya!

I'm seeing this, and I can't figure out what's going on - changing the HostSelectionPolicy seems to have no effect here.  Any ideas where to go debugging?

[code]

[2016-02-04 15:51] Zariel commented on #634
What version of Go is this?

[2016-02-04 16:10] Zariel commented on #634
Can you post a more fully panic trace? I need to see what is nil here as it must be the `policyConnPool` but cant confirm. Do you have something which reliably triggers this?

[2016-02-04 19:25] jalkanen commented on #634
Sorry, I was in a bit of a hurry and left out important version info. This is occurring both on go 1.5.3 and go 1.6rc1 on Ubuntu 14.04 inside a Vagrant box against Cassandra 2.2.4.

I'll see if I can create a repro case.  The setup is fairly straightforward:

[code]

[2016-02-04 20:18] jalkanen commented on #634
*groan* Yes, this was actually a case of variable shadowing; I had an extra colon there - instead of "=" it's ":=" and this overrode my nice package variable which was hence an empty struct. However, it would be nice if session.Query() or Exec() checked that it has a valid Session before continuing. Now the error message is fairly confusing.

[2016-02-04 23:41] Zariel commented on #592
this looks to be due to the initial request timing out

[2016-02-05 16:51] robzienert opened #636 "Panic while failing to connect"
Follow up to #627 (same connection details outlined there).

[code]

Version ce5afa9510a404e19a7edc9a714d6797ad147286

[2016-02-05 18:05] robzienert opened #637 "Panic after not controlling conn dial"
After resolving #636 on my end (needed to use ProtoVersion 3 instead of 2), encountered this panic. I updated to version e251ed3a42e32ea6f261dc48c1f851d39a760e6a. This output is via panicparse. If you'd like me to submit the unparsed panic, let me know.

[code]

[2016-02-05 19:12] Zariel commented on #637
These look like errors return from NewSession? Are you panicing the returned error?

[2016-02-05 19:22] #634 closed

[2016-02-05 19:22] #636 closed

[2016-02-05 19:24] Zariel commented on #637
And yes, can you post the panic from the Go runtime and the repro code please if possible please.

[2016-02-05 19:24] Zariel commented on #622
@mediocregopher did you get anywhere?

[2016-02-05 19:24] Zariel commented on #612
@ekle call NoSkipMetadata on the query will fix this.

[2016-02-05 19:24] #612 closed

[2016-02-05 19:31] Zariel commented on #613
@markuscraig I looked through the nodejs code it is is probably just getting advantages by doing all the queries async as @nemothekid says.

[2016-02-05 19:51] mediocregopher commented on #622
Well since rebuilding and redploying we haven't seen this issue at all again >_< I'm willing to close the issue, I can make a new one if it comes up again later.

[2016-02-05 19:51] #622 closed

[2016-02-05 20:46] robzienert commented on #637
Argh, sorry. This was my panic.

[2016-02-05 20:46] #637 closed

[2016-02-05 22:43] markuscraig commented on #613
Ok, thanks guys, much appreciated!

[2016-02-07 11:02] Zariel commented on #575
Im going to considered this resolved, ill add a note in the README about connecting to nodes which dont have a routable broadcast address.

[2016-02-07 11:02] #575 closed

[2016-02-07 11:03] Zariel commented on #592
Think this is resolved as of #633, if the initial create table request times out then the next ones will be in an inconsistent state where the table either exists or doesnt.

[2016-02-07 11:03] #592 closed

[2016-02-08 03:50] materespana opened #639 "Read performance test"
Hi Guys:

We are doing some performance test between Golang - Java and We notice that Java driver read performance is 4x more fast than Go driver. Here the information about the test:

Cassandra Schema:

CREATE KEYSPACE test WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 3 }

CREATE TABLE categories_stress_test (key text PRIMARY KEY, value text, version int, last_updated_t

[2016-02-10 09:40] #544 closed

[2016-02-10 19:03] aquadrini commented on #639
Same issue here. Java driver is up to 5x faster, specially on reads. Our configuration is very similar to the  posted one.

[2016-02-10 19:32] Zariel commented on #639
Thanks for the report, can you provide more information, namely

- Go version
- Client CPUs
- PProf svg if possible (cpu)

I would generally expect the Java driver to perform better due to the JVM and some other things.

[2016-02-10 19:50] Zariel commented on #639
Setting GOGC to 800 gets me around 35% faster on my laptop, this is Go 1.6rc2

[code]

[2016-02-10 19:53] aquadrini commented on #639
I'm using Go 1.5.2, running Ubuntu 12.04 on a quad-core / 4GB virtual machine.

[2016-02-12 19:00] robmccoll opened #641 "Default DiscoveryConfig settings leads to automatically trying to connect to all datacenters"
Any chance the default could instead be changed to filter to the DC of the initial host list? The behavior of trying to connect across all DCs by default is a bit surprising.

[2016-02-12 20:51] Zariel commented on #639
@materespana can you run with `GODEBUG=gctrace=1`? Without any information like a pprof I cant really help, you will have to profile and figure out what is slow.

[2016-02-13 14:59] #581 closed

[2016-02-13 16:03] Zariel opened #645 "run Cassandra 3.x in CI"

[2016-02-13 16:03] Zariel opened #646 "Setup Java 8 in CI"
necessary to do #645

[2016-02-13 16:05] Zariel opened #647 "Simplify integration test runs"
Currently we run the following builds for Go 1.4 and 1.5

- Auth ON
- tags = unit
- tags = integration
- tags = ccm

To simplify and speed up we should merge the unit and integration runs, and possible the CCM tests as well.

[2016-02-13 16:06] Zariel opened #649 "Test Cassandra 3.x"
Tracking issue for testing against Cassandra 3.x
- [x] #645
- [x] #646

[2016-02-13 20:41] Zariel commented on #639
Ive not confirmed but this is probably due to the TokenAwarePolicy, ill need to write a new benchmark to check that vs the RoundRobbin. Though performance should increase since #643

[2016-02-13 21:24] mediocregopher opened #651 "Logged batches not working?"
Basically I have the following code:

[code]

But when I run it nothing happens. No data is inserted or updated in my db. If I take out the batching, and do each Query/Exec individually, the data is inserted just fine. There's no errors at any point. My "cluster" that i'm testing on is really just a single 3.0.3 node, but I can't see how that would prevent this from working. I'm updated to master

[2016-02-15 21:35] Zariel commented on #651
Hi @mediocregopher, I tried running the test suite on 3.0.3 3 node cluster and everything worked for batches. Specifically https://github.com/gocql/gocql/blob/2a72f6c4f3ee3dc5e84af75ebab84e3d0707e575/cassandra_test.go#L332 should test that logged batches are working.

There isn't anything obvious in your example that would indicate why it wouldn't work.

[2016-02-15 21:35] Zariel commented on #639
@materespana can you try using protocol 4 and see if you see the same issue on master?

[2016-02-16 02:02] mediocregopher commented on #651
So I confirmed it probably doesn't have to do with cluster size by setting up a small local cluster. I also made a little progress by commenting out all but the first insert statement in the batch, which allows that insert to happen. Uncommenting the second update causes it to go back to not working.

Is there some requirement on the data in the batch? I haven't been able to find anything in the c

[2016-02-16 21:26] Zariel commented on #651
Can you create a reproducible case which I can run?

[2016-02-16 22:49] mediocregopher commented on #651
Hopefully this works for you:

[code]

When I do that (first argument is cassandra address), I get nothing in those tables afterwards, but also no errors at all

[code]

Replacing the `b.Query`s with `s.Query(...).Exec()` and commenting out the Batch stuff causes the inserts/updates to go through fine:

[code]

If there's anything else I could give to help let me know, and thanks for helping :D

[2016-02-17 13:24] nemothekid commented on #651
You cannot mix counter statements and normal statements in a single batch. See [CASSANDRA-7351](https://issues.apache.org/jira/browse/CASSANDRA-7351).

Also, you cannot use counter statements in Logged Batch. See http://docs.datastax.com/en//cql/3.1/cql/cql_reference/batch_r.html

[2016-02-17 16:20] mediocregopher commented on #651
Ah, well that first restriction is poorly documented by Cassandra for sure.
I just missed that second part. Should Cassandra or the driver be throwing
back some kind of error though? It kind of sucks that as far as my code
knows the operation completed successfully, even though it didn't.

On Wed, Feb 17, 2016, 6:24 AM Nimi Wariboko Jr. <notifications@github.com>
wrote:

[2016-02-17 16:26] nemothekid commented on #651
Yeah, I only remembered that some time ago (when I looking info using counters), and couldn't even find in the docs where its stated, which is why I linked a JIRA issue (only thing Google could find).

According to the linked JIRA issue, the database should be throwing an error, and I'm pretty sure the driver would return that error. It could be that Cassandra 3.x is not throwing this error for so

[2016-02-17 17:21] mediocregopher commented on #651
[code]

So at the very least the cql shell doesn't accept it.

[2016-02-17 18:07] Zariel commented on #651
I dont know why that error doesnt come out of Gocql, @nemothekid thanks very much for the clarification

[2016-02-17 18:09] nemothekid commented on #651
My guess its an error when using a batch with prepared statements. If you try the same process with unlogged prepared statements batch with the official drivers it should confirm that. If thats true, its a bug in Cassandra.

[2016-02-18 00:24] muirrn opened #658 "No available streams error after upgrading gocql"
We are running c\* 2.0.X so we only have 128 streams per connection. When all streams are in use, it looks like the old behavior was to block waiting for a new stream. The new behavior (via IDGenerator) is to return ErrNoStreams. One of our services makes a lot of queries very quickly (easily in the thousands). After upgrading gocql, the service gets an ErrNoStreams once it's kicked off 128 querie

[2016-02-18 00:39] muirrn commented on #613
Are you sure your node script is running all the queries? You call "process.exit(0)" when the "final" batch completes, but nothing guarantees that the final batch isn't actually the first one to run. Do you see the message "Batch data update successful" printed out 5000 times? If not, you need to add code that waits for all the batches to invoke their callback before exiting the process.

[2016-02-18 09:36] Zariel commented on #658
This is more likely the query execution is not trying hard enough to get a connection with streams available. There should be `NumConns * NumHosts * (127 - 1)` streams available to the application, which should be lots even on proto2. Is this easily reproducible?

[2016-02-18 15:32] muirrn commented on #658
Yes, it happens every time I run my test program against our production ring. I will see if I can make a test case to reproduce it.

Trying different connections/different hosts would certainly improve things, but I still think it should block waiting for a stream if it can't get one. If you have a 3 node ring with the default 2 connections per-host, you have ~768 streams total which is still easi

[2016-02-18 16:16] muirrn commented on #658
Here is a test case:

[code]

Here is a diff I used to "fix" the problem and make the test pass (just to validate my test case, not a suggested fix). The round robin host selector returns nil if all the streams are exhausted, so I had to change to to pick a random conn in that case, so the change to keep retrying GetStream() would actually happen.

[code]

[2016-02-22 17:01] muirrn commented on #658
Any comments? Would you be amenable to a PR similar to my patch above but with proper timeout handling and not using a busy loop to wait for an available stream?

[2016-02-23 22:17] Zariel commented on #658
I would rather fix the underlying issue, I also dont think that waiting on a single conn is a good idea, the RoundRobbin pool could have a sync.Cond and wait for any conn to have a stream available, though that would be racy. Im not sure what a good solution to this is.

[2016-02-24 16:41] muirrn commented on #658
What are you referring to as the "underlying issue"?

The available stream logic in the round robin conn selector is nice, but it's doing more stuff than the name "round robin" suggests. It seems like unexpected behavior that the "simple" round robin conn selector returns nil when there are in fact "up" conns. We could separate the available streams logic into a separate conn policy. We could make

[2016-02-25 19:54] shore opened #662 "Error reporting broken in batches"
When cassandra returns an error for a query inside a batch, `executeBatch()` returns `&Iter{...}` that has err set to `nil`, even though the error message is available in the frame.  If the same queries are executed without a batch, an error is returned as expected for the query that is broken.

We discovered this when attempting to insert `nil` as cassandra type `inet`.  No error was reported, bu

[2016-02-25 21:22] Zariel commented on #662
Thanks for the report, filed a fix at #663

[2016-02-25 21:53] #662 closed

[2016-02-25 21:53] Zariel commented on #651
@mediocregopher this might have been due to #662 can you try with master?

[2016-02-26 01:29] shore commented on #662
fixes my test case.  close issue.

[2016-02-28 08:34] Dieterbe opened #664 "deadlock encountered in gocql.. stuck connections?"
hello,
we recently encountered a deadlock issue in production.  It looks like gocql got stuck on some locks.
I haven't been able to undestand the gocql code fully yet, so hopefully we can figure this out better and fix the problem.
the original ticket on our end lives at https://github.com/raintank/raintank-metric/issues/159
What you should know about our service is that it uses [cassandra and goc

[2016-02-28 12:50] Zariel commented on #664
Thanks for the report ill take a look.

[2016-02-28 13:01] Zariel commented on #664
It looks like the select at https://github.com/gocql/gocql/blob/1a3b806af5e13f64a5da07f1d1cefb53b78c7a4f/conn.go#L344 never unblock so that read lock is held indefinitely.

[2016-02-28 13:40] Zariel commented on #664
I think I can reproduce this, will put up a fix soon

[2016-02-28 14:22] Zariel commented on #664
@Dieterbe this should be fixed by #665 which is now in master, could you give it a go and let me know if you still observe the issue?

[2016-02-29 10:58] Dieterbe commented on #664
@Zariel thanks for the quick action. i'm working on getting a test setup running where i can reliably reproduce the timouts, i'll let you know.

[2016-02-29 13:05] #279 closed

[2016-03-01 01:22] mediocregopher commented on #651
[code]

Seems to have fixed it, thanks for all the help!

[2016-03-01 01:22] #651 closed

[2016-03-01 12:16] Dieterbe commented on #664
@Zariel any tips on how i can bring cassandra/my network in a state that should let me reliable reproduce the issue?
i've tried slowing down the network bandwidth
[code]
and also introducing delays
[code]

but haven't been able to trigger the deadlock state yet.

[2016-03-02 15:19] awdrius opened #668 "Handling ErrNoConnections"
Hi, I have multiple dockerized services running that push data to a certain cassandra tables. One of the instances tartes spouting tons of ErrNoConnections messages ("session has been closed") on a simple Query().Exec() call. Now I looked at where these errors could originate in a source code and it looks like it means that connection pool is exhausted (that is my interpretation).

The question is

[2016-03-02 15:20] muirrn commented on #658
Do you have any comments on my PR?

[2016-03-02 19:00] Zariel commented on #664
I managed to reproduce it by closing the socket after setup, it should be possible to do it by kill 9 Cassandra?

[2016-03-03 11:37] Zariel commented on #668
`session has been closed` error should only be thrown after `session.Close` has been called, `ErrNoConnections` comes from the connection pool not having any hosts which are `UP` to query.

[2016-03-03 11:52] awdrius commented on #668
Thanks for clarifying it @Zariel

So ultimately in my case I need to exit the process as it looks like live node detection did not work properly.

Just to recap - I had 4 instances of the same binary executing INSERT queries against same cassandra cluster (3 nodes). 3 of the 4 running instances had no issues but 1 was returning ErrNoConnections. I'll try tracking it in case it happens again for a

[2016-03-03 20:25] dojodominator opened #670 "Marshal Varchar not parsing strings"
It is possible to get a single quote into the marshal varchar function, which is then passed to cassandra. This causes the insert to not work as expected, and probably opens applications up to a sql injection style attack.
https://github.com/gocql/gocql/blob/master/marshal.go#L184

[2016-03-03 23:48] Zariel commented on #668
That sounds like an issue, you can build with `gocql_debug` to debug events that are received.

[2016-03-04 15:32] dojodominator commented on #670
I have an update to this.  As it turns out, if the ' (single curved quote) character is encoded as the Windows-1252 character 145, which is outside of ascii, it causes the query to fail.

[2016-03-04 15:41] Zariel commented on #670
what do you mean by 'not work as expected'? The queries are prepared before executing, and Cassandra should reject invalid queries not the driver.

[2016-03-04 15:47] Zariel commented on #670
Strings are also defined as being utf-8 https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v4.spec#L904

[2016-03-04 16:03] dojodominator commented on #670
Ah.  I missed that when reading through.  Thanks.  I had originally thought the issue was with strings not being properly escaped, but I was mistaken.

[2016-03-04 16:03] #670 closed

[2016-03-05 13:05] Zariel commented on #664
@Dieterbe something to try would be to create a session with 1 connection per host, use a single node cluster, in a loop send select queries, then `SIGSTOP` Cassandra, it should cause writes to start timing out which will trigger the issue.

[2016-03-05 15:32] awdrius commented on #668
Oh, good to know I will try that and re-open this ticket with more details (if I get any). Thanks!

[2016-03-05 15:32] #668 closed

[2016-03-07 00:43] Dieterbe commented on #664
i've been running tests, slamming our service with large-range requests and have verified that after spitting out errors like..
[code]
...when i take away the load, it resumes working fine again (pulling data from cassandra is super fast again, requests served properly, etc)

[2016-03-08 16:42] jbdeboer opened #671 "Marshalling errors should provide more context"
Writing my program, I ran into the error:

[code]

While accurate, I wasn't able to figure the accepted timestamp types until I dug through the source code.
A better error would be:

[code]

[2016-03-08 18:13] woodsaj commented on #664
i am a colleague of Deiterbe, and we experienced the deadlock again today on our production cluster.

I have been reading over the code and a stacktrace taken ( https://gist.github.com/woodsaj/ff80f763d7978106f05d ) and i think i may have found the cause of the problem.

there is a race condition when a timeout occurs and a successfull response is received at the same time.

https://github.com/goc

[2016-03-08 19:15] #664 closed

[2016-03-09 08:03] IvanMalison opened #673 "gocql does not seem to handle null values for collections types"
http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.html
 suggests that
[code]
but it seems that gocql does not handle correctly:
https://github.com/gocql/gocql/blob/1d518f410a870af312d2de5ac4fb49b3b08eba97/marshal.go#L953

Is there a reason for this?

[2016-03-09 09:46] Zariel commented on #673
The framing protocol is what defines how to encode the types to and from Cassandra, which is located and the relevant part here https://github.com/apache/cassandra/blob/be20457c0d2583ea9e81a3000e9709aa6151d09c/doc/native_protocol_v4.spec#L813

The values are encoded as [bytes] which is an int n followed by n bytes, a negative value here for n indicates that the value is null in Cassandra, which wi

[2016-03-09 15:44] dax0 opened #674 "Printing ffffffffffffffff under high concurrency"
I'm seeing this weird issue where my log is printing ffffffffffffffff ffffffffffffffff if I write with high concurrency to Cassandra.  This is fixed by making NumConn incredibly high so I have a feeling it has something to do with the 128 concurrency queries per connection.

Any ideas?

[2016-03-09 17:16] Zariel commented on #674
Where is that log coming from?

On Wed, 9 Mar 2016, 3:44 p.m. Dax, <notifications@github.com> wrote:

[2016-03-09 18:14] jbdeboer commented on #674
I see these log messages as well. As far as I can tell, they aren't affecting my application, though.

[2016-03-09 18:16] dax0 commented on #674
It's hard to tell where it comes from, it seems like a rogue fmt statement
somewhere

On Wed, Mar 9, 2016, 1:14 PM James deBoer <notifications@github.com> wrote:

[2016-03-09 18:25] Zariel commented on #674
they will be coming from https://github.com/gocql/gocql/blob/1e7d626b6238141ec0da7f6c4891276016e87704/conn.go#L512 will remove

[2016-03-09 18:26] Zariel commented on #674
fixed in master, thanks very much!

[2016-03-09 18:26] #674 closed

[2016-03-11 03:03] IvanMalison commented on #673
But if I understand this correctly, there is also a concept of an empty value

[code]

[2016-03-11 03:22] IvanMalison commented on #673
From the doc that you linked

  "empty" values (i.e. a value with zero length).  An empty value is distinct
  from NULL, which is encoded with a negative length.

This ought to be handled

[2016-03-14 22:27] Zariel commented on #673
Do you have an example that shows the erroneous behaviour? The marshaller checks that collections are empty or nil, the tests cover nil and empty collections, https://github.com/gocql/gocql/blob/733b8bc2648778c6f3f3aad3cc576ba9ad28eec8/marshal_test.go#L966

Also the framer handles [byte] with -1 length and returns a nil byte slice, https://github.com/gocql/gocql/blob/733b8bc2648778c6f3f3aad3cc576b

[2016-03-14 23:00] IvanMalison commented on #673
This happens with collections inside UDT types. gocql handles empty (as in containing 0 values) and nil correctly, but it does not handle values that were never present which will be returned a empty data buffers. It seems like this is something that can happen for legacy reasons.

All you need to do to replicate the issue is to insert a udt with a collection value with a nil value for the collect

[2016-03-15 13:53] Kimbsen opened #675 "Cannot create cluster/get host info with cassandra 1.2.8"
My app is trying to connect to a cassandra 1.2.8 cluster using go 1.6
and connects as follows. `hosts...` is 2 hosts, but there are 14 in the cluster

[code]

But i consistently get the following from err

`gocql: table: unable to fetch host info for ip: gocql: not enough columns to scan into: have 5 want 0`

Is 1.2.8 no longer supported? Or is there some workaround i can try.

[2016-03-16 08:11] eandre opened #676 "Add net/context support"
I often find myself writing code similar to this:

[code]
or this:
[code]

It would be really useful if gocql supported use of `net/context` out of the box. There are a few ways one could possibly do this, each with their own advantages:
- Adding a `QueryCtx(ctx context.Context, stmt string, args ...interface{}) *Query` method to `Session`, that binds the context to the returned query.
- Adding a

[2016-03-18 17:12] didip opened #677 "Iter() on SELECT * only returns one value?"
Specs:
[code]

My query is very simple: `SELECT * FROM tokens`, and I have 3 tokens.

The code is equally simple:
[code]

Meanwhile, `cqlsh` returns all 3 values correctly.
[code]

This is my table schema, nothing fancy:
[code]

I must have missed something obvious here.

[2016-03-20 12:11] Zariel commented on #675
While not tested as part of the integration suite 1.2 should work, what is the schema for system.peers/system.local on 1.2?

[2016-03-20 12:12] Zariel commented on #676
This would be interesting. At what part of the driver would the Context be used in? What cases does it need to handle to integrate with net/context?

[2016-03-20 12:13] Zariel commented on #671
Yep this could be improved, but the marshaller should allow you to marshal an int into a timestamp column

[2016-03-20 12:25] #673 closed

[2016-03-20 13:21] Zariel commented on #673
Thanks for the report

[2016-03-20 18:00] Zariel opened #680 "api: remove conn selection policy"
Simplify the driver and roll the conn selection into a single query executor

[2016-03-20 18:07] Zariel opened #681 "api: provide Next() bool / Scan() error methods instead of Scan() bool"
The current API uses Scan to to indicate that another row is available, and defers handling of scan errors the call of Close(), which is not always obvious. It also means that it is impossible to ignore unmarshalling errors during iteration.

This leads to things like #659

But I dont want to change the query api for fun.

Thoughts?

[2016-03-20 21:22] eandre commented on #676
I am not 100% sure if I understand your questions. I have tried to answer them below, but let me know if you have more questions.

I am not sure where in the gocql driver this would internally be integrated. It would be nice if gocql could also notify Cassandra to cancel the query execution, but that is a nice-to-have. gocql could perhaps also use the cancellation to clean up its internal resource

[2016-03-21 12:50] ekle opened #686 "FatalF from hailocab/go-hostpool X not in HostPool [ X X]"
today i got a FatalF which stop my service:
```host 172.10.210.14 not in HostPool [172.10.110.2 172.10.110.19]```
i'm using    1e7d626
hostpool is e80d13c

gocql or it dependencies should never stop a go software.

[2016-03-21 14:47] Zariel commented on #686
If there is an issue in the Gocql driver we can fix that, for issues in other projects please open tickets against those projects.

[2016-03-21 16:02] ekle commented on #686
go-hostpool throws a Fatal error if a host is accessed which does not exist.
therefor i think gocql is making an invalid call.

[2016-03-21 19:30] arbarlow commented on #538
Hi, I've run into a similar problem and fixed it for my application but many tools like migrate and cqlr etc can't connect, can gocql detect the version and then use that?

[2016-03-21 19:36] Zariel commented on #538
There is a ticket to do it, its possible but it is not yet implemented #540

[2016-03-21 19:37] arbarlow commented on #538
@Zariel great! If you have some ideas where to start I can give it a go?

[2016-03-21 20:52] Zariel commented on #538
@arbarlow moving discussion to #540, there is a further issue here that the driver should not rely on the protocol version to determine what queries to use, as we also have the nodes version which is a better indicator.

[2016-03-21 20:52] Zariel commented on #540
I think the idea is that, the control connection sends the highest known protocol for an outgoing request, if the error is an invalid protocol response then use the returned protocol, otherwise the highest. This should only be done if the protocol is not set though.

[2016-03-22 09:18] ekle commented on #686
i have this bug a few time a day now

[2016-03-23 17:41] smira commented on #686
@ekle see also my PR: https://github.com/hailocab/go-hostpool/pull/4

I've stopped using hostpool in gocql for this reason

[2016-03-23 19:17] Zariel commented on #686
The PR looks good, I had a look through the code and couldnt see anything obvious that would cause us to set at a host list which we dont have.

[2016-03-23 19:56] smira commented on #686
@Zariel I believe it happened during discovery (with older gocql which was polling from `system.peers`) when host was going up (or probably down). `gocql` was reporting node healthy status before node got into hostpool. Something around this sequence of events. I don't have details unfortunately.

[2016-03-23 21:23] ekle commented on #686
@smira what are you using instead of hostpool ?

[2016-03-24 10:02] Zariel opened #688 "Integrate HostPool into the connection pool"
It makes more sense for the connection pool to be aware of detecting downed hosts than the policy, so this way all policies will benefit.

[2016-03-24 10:05] Zariel commented on #686
@ekle looking at the code the following can happen.
[code]

We can probably fix this our side

[2016-03-24 10:13] Zariel commented on #686
@ekle @smira I have marked #689 to not close this issue, can you test that it does fix the issue you see?

[2016-03-24 16:14] smira commented on #686
@Zariel I think `panic` is better than silently aborting process, but still something not acceptable in general.

[2016-03-24 16:15] smira commented on #686
@ekle I'm using:

[code]

[2016-03-24 22:01] mackeyja92 opened #690 "Massive timeouts during lightweight transactions."
Frequently getting timeouts `Operation timed out - received only 0 responses` when attempting to many many lightweight transactions. My API is built to retry if the lightweight transaction fails because the `if` statement in the CQL is not met. However, I am getting a large amount of `time out`'s when running these. Mostly, in my testing they were fine, but in production it seems to be an issue wh

[2016-03-24 22:40] Zariel commented on #690
Does your cluster span multiple DCs? By default the write for LWT will be done with Serial, try changing `SerialConsistency` on the query, ive never seen LWT's be that slow though.

[2016-03-24 22:55] mackeyja92 commented on #690
We are currently replacing our cluster with a new, higher performance, DC. However, it isn't ready yet so it is just sitting on the side lines. That is why I wanted everything set to LOCAL_QUORUM as this new DC is currently in a non-production ready state. I can change the query to be a LOCAL_SERIAL though, if that would help.

Could host discovery be an issue here?

[2016-03-25 10:50] Zariel commented on #690
It shouldn't be, a LWT does a Paxos transaction for all nodes which own the data, by default the consistency is Serial, which will do it for every node in each datacentre which is a replica for the key being updated, so this could cause it to be slow. Using LocalSerial will only do the transaction in a single datacentre

[2016-03-25 10:51] Zariel commented on #686
@ekle @smira is this fixed since #689?

[2016-03-25 15:30] smira commented on #686
@Zariel thanks! I will schedule a test for it, but it would take some time on my side

[2016-03-25 16:49] mackeyja92 commented on #690
Ok, we are phasing out the old DC this weekend so I will update next week and see if the issue has been resolved.

[2016-03-27 01:08] willfaught opened #691 "ClusterConfig.ProtoVersion defaults to 2 instead of 4"
The latest cqlsh version seems to use v4. Any reason not to match this? Otherwise you have to set ProtoVersion manually, which I didn't expect running the latest version.

[2016-03-27 21:59] willfaught opened #694 "Session.KeyspaceMetadata doc should say changes aren't reflected"
Had to figure that out the hard way. You have to create a new session to see, for example, a table created with the current session.

[2016-03-28 05:56] willfaught opened #695 "Session.KeyspaceMetadata doesn't return error for invalid keyspace name"
Keyspace "foo" doesn't exist:

[code]

I didn't expect this and found this confusing. Shouldn't it return an error?

[2016-03-28 16:18] bgreezy commented on #677
Have you considered using something like `for iter.Scan(&id,&enabled) {fmt.PrintLn(id,enabled)}` to see if  the results can be pulled from the database with a different function call? I have never used `iter.MapScan()` but it seems like it should work the way you have it called. I would double check that you can get them out using the regular scan. You could always add them to the map afterwards.

[2016-03-28 18:30] didip commented on #677
@bgreezy Yes, mapping the scan to individual variable works as expected.
For now, that's the solution that works for me, I changed all `MapScan()` to regular `Scan()`.
I am starting to think that this is a bug on `MapScan()`.

[2016-03-28 18:40] bgreezy commented on #677
I found an example in the gocql test directories. Try `session.Query(query).MapScan(rowValues)` Currently you are calling MapScan on the `Iter` object. The example of use on the Query object is in tuple_test.go

[2016-03-28 23:27] mattmassicotte opened #696 "2 seconds for a call to CreateSession"
I've been using (and loving) gocql for a while now. Normally, I use Cassandra 2.x, but I've been trying out 3.3 recently. After changing the ProtoVersion to 4, things are working. However, every query now takes almost exactly 2 seconds. The same queries from cqlsh don't have the same problem. Any ideas?

[2016-03-29 07:27] ekle commented on #686
looks like it is fixed. i didn't have this error anymore over the long weekend.

[2016-03-29 10:43] Zariel commented on #686
Thanks for the report!

[2016-03-29 10:43] #686 closed

[2016-03-29 13:33] smira commented on #686
I also did a test in the lab for several days, no problems so far.  Thanks @Zariel

[2016-03-29 14:51] mackeyja92 commented on #690
Ok, I have migrated to the new DC and decommissioned the old DC. I am still experiencing this error but less frequently. Do you have any guidance on what else I can attempt to resolve this?

[2016-03-29 20:19] Zariel commented on #690
For this you probably need to look at some monitoring in Cassandra, I doubt its the driver causing the timeouts. Are the keys well distributed or are many nodes concurrently updating the same key?

[2016-03-29 21:15] mackeyja92 commented on #690
The keys are well distributed. I am worried that the driver is returning a timeout before we actually hit the timeout duration. It is happening almost instantaneously but the timeout is set to 10 seconds.

[2016-03-29 21:59] nemothekid commented on #681
Why would you want to ignore unmarshalling errors? How often does that come up?

IMO, you would need a really good and widespread reason to change the API

[2016-03-31 11:44] MalteJ commented on #540
+1

[2016-03-31 13:00] MalteJ commented on #696
how do you change the protoversion to 4?

[2016-03-31 14:08] mattmassicotte commented on #696
I followed the procedure from this issue:

https://github.com/gocql/gocql/issues/538

Without this, gocql is unable to connect at all.

[2016-03-31 22:27] mattmassicotte commented on #696
Welp, I'm mistaken. Obviously something else has changed on my end, because this is now reproducing with 2.x as well. Apologies.

[2016-03-31 22:45] mattmassicotte commented on #696
Actually, I narrowed this down a little. Me changing Cassandra versions was a red herring. I also updated gocql, and that was what actually did it. The perf change is in the call to ClusterConfig.CreateSession. It appears that as of recent versions, this call now blocks for almost two seconds.

Is that now expected?

[2016-04-01 20:39] mackeyja92 commented on #690
@Zariel, could you provide more insights on why it would be happening before the timeout period of 10 seconds?

Is there more information I can give you that would be helpful in tracking this down? This is a growing problem for us and need to track down the root cause.

[2016-04-02 00:18] derailed opened #699 "gocql: connection closed waiting for response"
Running into some issues with gocql

Driver rev: 1st_gen_framing-383-g87cc185 -- 87cc1854b57c7a4d8f4ae1d0cc358ed6ecb0f8c3
Go: 1.5.1

I have a cassandra 2.1.13 cluster with 2 nodes and a reading rest api. When using ab perf with concurrency set to one all is peachy. However once I bump concurrency to 2 or more, I start seeing a few errors on my runs with gocql: connection closed waiting for respons

[2016-04-02 04:36] derailed commented on #699
Did find another interesting tid bit. In the original scenario I pass into the ClusterConfig hosts [c1:p1,c2:p2,c3:p3] but if I switch to a load balancer and pass hosts = [lb:p1] instead my ab perf with concurrency test works. So thinking there might be an issue with letting the driver determine the host connection??

[2016-04-02 08:34] Zariel commented on #699
The session is intended to live for the life of the application, creating a session is a relatively expensive operation, closing the session will close all open connections. The error you see is that one goroutine is executing a query and waiting for a response, another finishes and closes the session which closes the connection, cancelling the query.

[2016-04-02 08:36] Zariel commented on #690
I don't think the driver is doing anything odd which would cause timeouts,
the timeout error is more likely an internal Cassandra error. If you print
the error out with #+v you should see the code and error.

On Fri, 1 Apr 2016, 9:39 p.m. Jared Mackey, <notifications@github.com>
wrote:

[2016-04-02 13:26] derailed commented on #699
Thanks for the clarification Chris! This somewhat explains what I am
experiencing but does not explain switching to using a load balancer as
besides the hosts config the code was the same. In my use case the
cassandra cluster will grow and shrink dynamically based on loads, hence
clients need to be aware and thought closing the session was a way to deal
with this requirement as on subsequent calls

[2016-04-02 14:53] Zariel commented on #699
gocql will listen for node events to indicate the nodes are joining/leaving the cluster and automatically add them to the pools

[2016-04-02 15:27] MalteJ commented on #696
Same here. I have checked out a commit at Dec 31st 2015 and it's very fast.
But the current version is very slow.
@Zariel do you know what's wrong here?

[2016-04-02 15:56] Zariel commented on #696
is it related to #669?

[2016-04-02 18:23] derailed commented on #699
cool - does one need to configure it or it this behavior on by default?

On Sat, Apr 2, 2016 at 8:53 AM, Chris Bannister <notifications@github.com>
wrote:

[2016-04-02 22:06] MalteJ commented on #696
I am not sure but I don't think so.

[2016-04-03 20:53] Zariel commented on #699
this is the default config

[2016-04-03 20:53] #699 closed

[2016-04-04 17:59] bronger opened #700 "Remove MAC address from TimeUUID"
Apparently, current Cassandra versions do not include MAC addresses in their `now()` results anymore.  This means a deliberate deviation from UUIDv1, maybe due to security considerations.  May it be sensible/possible to change `gocql.TimeUUID` accordingly?

[2016-04-05 08:00] Zariel commented on #700
What are they using instead of the MAC?

[2016-04-05 10:35] mattmassicotte commented on #696
More clues. I run cassandra inside a docker container on my mac. There is a single node listed as a seed. This seed IP is visible to the cassandra process, but not from my mac. This makes it look to gocql like the one seed node is down.

[2016-04-05 11:43] bronger commented on #700
Yesterday, I failed to find it.  Today, I read the source.  See file src/java/org/apache/cassandra/utils/UUIDGen.java, line 292ff in the Cassandra source code.  Apparently, Cassandra's `now()` has never included the MAC address because this is not possible from within a Java program.  But they would if they could.  Thus, I think that this issue is obsolete then.  The security concerns that a few p

[2016-04-05 11:45] bronger commented on #700
The only reason for adding another TimeUUID function would be to mimick Cassandra's behaviour.  I don't know whether this might be helpful, e.g. in mixed scenarios of gocql.TimeUUID and CQL's `now()`.

[2016-04-05 16:11] mackeyja92 commented on #690
Ok. I will leave this ticket open until I find a positive resolution though, if that is ok.

I am currently testing different protocol versions to see if that will make a difference. Previously, and I don't know why, but we were using protocol version 2. I have upgraded the API to use use version 4 and moved to CQL 3.3 instead of 3.0. Testing both of those changes together today.

[2016-04-05 20:15] mackeyja92 opened #702 "Change serial consistency from session"
I don't see a way to set the serial consistency on the session after it is already instantiated. Any plans to make that an API similar to `Session.SetConsistency` for serial?

[2016-04-05 20:54] mackeyja92 commented on #690
I was able to fix the issue by setting the `SerialConsistency` on the `ClusterConfig` to `LocalSerial`. However, the issue returns when setting it back to `Serial`. We only have one DC now so they should essentially be the same. Would you still agree with your earlier assumptions that it is a configuration issue with our C* cluster?

[2016-04-05 21:10] Zariel commented on #702
TBH I would rather make session immutable, the serial consistency is settable on a per query basis

[2016-04-05 21:17] Zariel commented on #694
They should be, once schema events are wired up

[2016-04-05 21:47] willfaught commented on #694
In the meantime, it would be helpful to note that in the doc.

[2016-04-08 13:18] MalteJ commented on #696
I was using Docker on Mac with the _/cassandra image, too!
So I have created my own cassandra docker image and now I do not have the problems anymore.
You can try my image: `docker run -it -p 9042:9042 parce/cassandra:3.4`
You can find my Dockerfile at https://github.com/parce-iot/docker-cassandra

[2016-04-08 16:44] Zariel commented on #696
This related to #703?

[2016-04-08 16:56] MalteJ commented on #696
With the official docker cassandra image and current gocql release I still have problems with the delay.
Maybe there are some strange settings in the docker image.

[2016-04-08 17:03] MalteJ commented on #696
Anyhow I will not further investigate as I have solved this issue by creating an own image.

[2016-04-08 22:03] jtbandes opened #704 "Scan()ning a time.Time value in a loop results in unexpected behavior"
A change was made in #258 so that `unmarshalTimestamp` would no longer change the target variable's value if the timestamp received from Cassandra was null.

However, this encourages the following usage pattern:

[code]

I'd like to recommend changing this, or people are going to accidentally write buggy code. Possible solutions:
- Revert to the old behavior (which, reading #258, sounds like it wa

[2016-04-08 22:28] Zariel commented on #704
the behaviour should be to set the value to empty if it is empty in Cassandra

[2016-04-08 22:37] jtbandes commented on #704
The question is, what does "empty" mean for `time.Time`?

[2016-04-08 22:45] Zariel commented on #704
empty for a value type would be `time.Time{}`

[2016-04-08 22:45] Zariel commented on #704
This is another reason why I think #681 would be a better API

[2016-04-11 14:28] skeswa opened #705 "Gopkg Support"
I was surprised to discover that this repository has no Semver compliant version tags on it. I was wondering if that could be arranged.

[2016-04-11 17:09] eandre commented on #676
Gentle ping. :)

[2016-04-14 20:53] nemothekid opened #708 "Cassandra 3: Querying w/ TokenAwareRouting Materialized view causes panic"
TokenAware Routing

[code]

Looking into this.

[2016-04-14 21:24] nemothekid commented on #708
The issue is we don't get the table metadata for materialized views. [I have a fix (ChannelMeter/gocql@c171114fa8d)](https://github.com/ChannelMeter/gocql/commit/c171114fa8d631e872d41c981d5b226d2888f53c), but its very ugly, and the compileMetadata function should probably be refactored.

[2016-04-16 12:22] #676 closed

[2016-04-16 12:23] Zariel commented on #658
Is this improved by #707 ?

[2016-04-16 12:32] eandre commented on #676
That's perfect, thank you for implementing it.

[2016-04-16 12:47] Zariel commented on #676
No problem, it looks pretty useful

On Sat, 16 Apr 2016, 1:32 p.m. André Eriksson, <notifications@github.com>
wrote:

[2016-04-16 15:40] muirmanders commented on #658
#707 did improve things, but obviously you can still use up all your streams pretty easily with v2. We are upgrading our ring so we can probably just close this PR and not worry about it.

[2016-04-16 18:48] bipin-nag commented on #540
Please do this. Libraries using gocql should not have to build this feature separately. I use cqlc which has incorrect way of detecting/upgrading protocol. Look at https://github.com/relops/cqlc/blob/9427a2081fb4f4910b0af8fc80d09c109b4f9815/generator/generator.go. It requires to connect at least once before upgrading. But that never happens with cassandra v3. Feel there needs to be a standard way

[2016-04-18 06:00] subbu05 opened #711 "Unable to run go get github.com/gocql/gocql"
I don't see anything downloaded or process runs indefinitely.
Unable to get dependencies fot GOCQL

OS - Centos 6.6 64bit
golang 1.4
GOPATH and GOBIN are set correctly.

[2016-04-19 12:43] Zariel commented on #711
try running with `-v`

[2016-04-19 14:23] Zariel commented on #404
implemented in #712

[2016-04-19 14:23] #404 closed

[2016-04-19 19:05] Zariel commented on #540
The driver needs to connect once with the max value, and on error reconnect at a lower protocol. In reality applications should be hard coding their protocol version, as things like the V4 differences between 2.2 and 3.0 existing.

[2016-04-21 14:54] dieuit07 opened #713 "gocql: unable to dial control conn localhost:9042: gocql: no response received from cassandra within timeout period"
[code]

Test connection with DBEAVER successfully (localhost / database)

File cassandra.yml:
[code]

I could't find out what wrong in file config

[2016-04-24 17:13] hsen-dev opened #714 "supporting scylladb"
Can I use **gocql** for [scylladb](https://github.com/scylladb/scylla)?

[2016-04-26 18:45] subbu05 commented on #711
Same issue.
I don't see anything on the terminal.

[2016-04-26 21:16] Zariel commented on #711
this works fine for me

[2016-04-29 09:56] mrbroll commented on #713
Bump. I'm having the same problem.

[2016-04-29 09:56] Zariel commented on #713
I also ran into the recently, i think its due to the driver using the wrong protocol and the error message being very very bad, ill take a look when I get time.

[2016-04-29 22:24] mrbroll commented on #713
Oh, I forgot to do `cluster.ProtoVersion = 4` after calling `NewCluster()`. Works just fine now.

[2016-04-30 10:11] Zariel opened #716 "session creation swallows unsupported protocol errors"
The session creation hides the underlying error when the protocol is not supported, leading to an ambiguous "no connections created" error.

[2016-04-30 10:11] Zariel commented on #714
As far as I am aware it is working, this project is designed to implement a Cassandra driver, if scylladb implement the cassandra protocol and expose the same interface then it should be supported.

[2016-04-30 10:11] #714 closed

[2016-04-30 10:12] Zariel commented on #713
The session create error is hidden due to #716

[2016-04-30 12:40] #716 closed

[2016-04-30 12:47] Zariel commented on #713
@dieuit07 @mrbroll this should be fixed in master to now give the correct error when unable to create a session

[2016-04-30 12:47] #713 closed

[2016-04-30 12:48] #708 closed

[2016-05-01 10:20] #680 closed

[2016-05-01 11:51] #646 closed

[2016-05-01 14:25] chenziliang opened #721 ""panic: runtime error: slice bounds out of range" when create session"
Env is Cassandra 3.5, standalone, gocql is latest master build.

package main

	"github.com/gocql/gocql"
)

	// connect to the cluster
	cluster := gocql.NewCluster("super")
	cluster.Keyspace = "demo"
	session, _ := cluster.CreateSession()
        defer session.Close()
}`

Panic trace

panic: runtime error: slice bounds out of range

panic(0x6f2020, 0xc82000a090)
	/root/ken/go/src/runtime/panic.go:

[2016-05-01 15:08] #721 closed

[2016-05-01 15:08] Zariel commented on #721
Thanks very much for the report!

[2016-05-01 15:13] chenziliang commented on #721
Super. Thanks Zariel for the quick fix.

[2016-05-06 06:59] jncorpron opened #724 "SetPartitioner never called on the HostSelectionPolicy"
Looks like the call to SetPartitioner on the HostSelectionPolicy was lost in commit a04d2a5e3f4076edc106347f1624809c0733a1a1. The tokenAwareHostPolicy needs SetPartitioner to be called before it will be effective.

[2016-05-06 08:13] Zariel commented on #724
The partitiononer is now maintained globally for sessions on the clusterMetadata, https://github.com/gocql/gocql/blob/master/ring.go#L100

[2016-05-06 23:33] chitrakojha opened #725 "Connection Timeouts on Centos"
Hi,

I've been using GoCQL for sometime. We have been compiling the sources on Mac OSX to run on Ubuntu. It works well. Go Version 1.5.1

We recently moved our servers to CentOS. We are noticing that during connection init, the same binary is taking 40-50 seconds before making a connection to Cassandra.

Here's the strace
rt_sigprocmask(SIG_SETMASK, [], NULL, 8) = 0
rt_sigaction(SIGHUP, NULL, {SIG

[2016-05-07 00:47] chitrakojha commented on #725
This works perfectly on Ubuntu. Not sure what I might be missing.

[2016-05-07 09:24] Zariel commented on #725
Thats indeed strange

[2016-05-08 10:43] #724 closed

[2016-05-10 03:32] sudheernayudu opened #727 "SliceMap() not returning exact Cassandra table data, copies previous row values when column value is nil"
Hi,

I encountered a problem when executing gocql iter.SliceMap for TimeStamp based columns. For the rows having columns with null values in Cassandra, SliceMap returning result set by copying previous row's column value. I observed this for TimeStamp based column types, not sure about other column types. I'm not getting this issue with iter.MapScan(). Anybody please help..

[2016-05-10 21:01] mvbaffa opened #729 "Unsupported Protocol"
Hi,

I am trying to dial to a cassandra 3.2 server. I am receiving the error:
gocql: unable to dial control conn 10.152.20.212:9042: gocql: error on stream 0: Invalid or unsupported protocol version (2); the lowest supported version is 3 and the greatest is 4

How can I solve it

Thanks

[2016-05-10 21:23] Zariel commented on #729
Update the config to use protocol 3 or 4

[2016-05-10 22:52] clawconduce opened #730 "lazy connecting (feature request)"
Right now you can create a `Session` to a Cassandra server, and if server goes down, gocql will return an error when a request using that `Session` executes.  If the server comes back up, the next request will reconnect and it act like the server was never down.

It would be nice to be able to jump directly to the state where all your `Session` configuration is saved ignoring the server state.  So

[2016-05-10 23:10] mvbaffa commented on #729
Sorry but where is the config and what is the key.

Thanks

[2016-05-11 08:25] Zariel commented on #729
https://github.com/gocql/gocql/blob/6c910921faab44389a426721cf57599fcd0a10d5/cluster.go#L53

[2016-05-11 08:25] #729 closed

[2016-05-12 21:23] mvbaffa opened #731 "Executing CQL queries in batch"
Hi,

Is there an example of executing cql queries, mainly inserts, in batch.

I want to concatenate in memory the inserts and execute them in batch.

Thanks

[2016-05-13 08:20] Zariel commented on #731
To do this use batch, https://godoc.org/github.com/gocql/gocql#Batch

[2016-05-13 08:20] #731 closed

[2016-05-13 09:44] brtn opened #733 "Support for CQL 3.3 smallint and tinyint types"
I want to use new types, especially tinyint and shortint, but they are not implemented in gocql at the moment AFAIK. Is there anybody working on this?

[2016-05-13 18:16] Zariel commented on #733
The driver should nativly be able to handle reading and writing of tinyint and shortints

[2016-05-14 11:33] #733 closed

[2016-05-14 18:55] brtn commented on #733
Wow, that was quick :) I also started to do this but you are faster than me, as expected.

Anyway, thank you @Zariel, I will use your work right away.

[2016-05-15 09:20] Zariel opened #735 "Improve retry policy"
Currently the retry policy will just attempt on a new host for each attempt, attempting at most `numberOfHosts` available in the pool.

We should provide an interface which allows more robust query retrying

[2016-05-18 06:32] #449 closed

[2016-05-20 10:40] Zariel opened #738 "ensure at least one initial host passes the host filter if present"

[2016-05-23 17:56] mediocregopher opened #739 "Questions about "no hosts available in the pool" error"
We recently did a rollout of a change across our cluster which necessitated going through each node, decommissioning it, and re-adding it as a new node with a new host ID. After doing that we started receiving `no hosts available in the pool` errors from our processes, and had to restart them. I'm guessing the driver has its internal idea of what the cluster looks like, and as we were dropping nod

[2016-05-23 22:29] bkeroackdsc commented on #739
I'm seeing frequent ``no hosts available in the pool`` errors, without changing cluster topology at all. This is with a single-node "cluster".

[2016-05-24 00:17] nemothekid commented on #739
@mediocregopher Your issue should be solved by node events (should be available since afd23f4ef235f528decbca56d0f558becdd65012) however I'm not too familiar with that side of the code base to comment. [events.go#174](https://github.com/gocql/gocql/blame/master/events.go#L159) should solve your use case and if its not working its probably a bug.

@bkeroackdsc If this is a single-node cluster, then

[2016-05-24 14:30] mediocregopher commented on #739
We're definitely using a version which contains the node event logic (we're on 1440c60, which is like 3 months older). Is there anything which I can do to help debug the issue?

[2016-05-24 18:15] bkeroackdsc commented on #739
Originally I thought the issue was due to gocql (a few months back I had issues with gocql running out of connections), but now it's looking like it was just instability on my Cassandra node.

[2016-05-30 03:56] terencechow opened #742 "Using ? in a query with a custom index causing issues"
I am getting the error `gocql: expected 0 values send got 2` with the below code. I have concluded that the error is because it seems to be unable to parse the ? in the below query when preparing the CQL statement. Hence it doesn't see any question marks and expects 0 arguments, but I provide 2.

Is there a way to properly add arguments when a custom query like the below exists? If not can we add

[2016-05-30 04:51] terencechow commented on #742
Figured out a solution. Closing:
[code]

[2016-05-30 04:52] #742 closed

[2016-05-31 07:34] balboah opened #743 "panic: Nil pointer dereference in HostInfo state"
When a Cassandra node crashed, so did gocql:
[code]

GoCQL revision: 1440c6
Cassandra version: 2.1.13

[2016-05-31 21:36] Zariel commented on #743
What host policy was in use?

[2016-06-01 07:11] balboah commented on #743
@Zariel `HostSelectionPolicy: gocql.TokenAwareHostPolicy(gocql.RoundRobinHostPolicy()),`

[2016-06-03 17:13] mackeyja92 commented on #690
Switching to `ScanCAS` instead of using `Execute` seems to resolve this issue. Maybe provide better docs on which to use when? Beginner mistake. Thanks.

[2016-06-03 17:13] #690 closed

[2016-06-14 04:46] ammario opened #744 "Typo and a grammatical mistake"
"Fetched" misspelled [here](https://github.com/gocql/gocql/blob/master/session.go#L1144).
"That" is improperly capitalized [here](https://github.com/gocql/gocql/blob/master/helpers.go#L248).

[2016-06-16 13:14] hgfischer commented on #645
Hi, I was just curious about what's the problem with Java 8 on Travis that is stopping you. I just found this: https://blog.travis-ci.com/2013-11-26-test-your-java-libraries-on-java-8/

So in theory you just have to add this to your definition file:

[code]

Isn't it enough?

[2016-06-16 15:23] penberg commented on #645
@hgfischer AFAICT, that should be sufficient.

[2016-06-16 15:25] Zariel commented on #645
AFAIK the `jdk` setting is only applied when language is java, though I think we now get Java 8 when running in the Trusty environment, and I think we have sudo so we can install all the packages again.

[2016-06-22 09:21] balboah opened #745 "multiple memory leaks while host discovery breaks"
There seem to be mutliple memory leaks triggering when cassandra nodes are terminated and new ones added.
GoCQL seem to still try some old host IPs while different services shows different memory leaks until restarted. Some profiles show these in particular:

Service A
[code]

Service B
[code]

Policy: `gocql.TokenAwareHostPolicy(gocql.RoundRobinHostPolicy())`
Githash: 1440c60
Cassandra: 2.1.13

[2016-06-22 09:22] balboah commented on #745
Probably related to https://github.com/gocql/gocql/issues/743

[2016-06-22 18:09] perrohunter opened #746 "Question: Is there a way to SOURCE a .cql file with gocql?"
I'm trying to figure out if there's an easy way to SOURCE a .cql file with gocql or if the process should be manual.

Thanks

[2016-06-22 19:40] Zariel commented on #746
The process would need to manually load the file then send that as a query string and is not provided as part of Gocql directly

[2016-06-22 19:40] #746 closed

[2016-06-22 19:41] Zariel commented on #745
What profiles are those? Inuse bytes?

[2016-06-23 07:30] balboah commented on #745
Thats collected from `go tool pprof  http://localhost:6060/debug/pprof/heap`

[2016-06-23 07:31] balboah commented on #745
The service eventually gets killed by linux due to memory usage when this is triggered

[2016-06-23 08:08] Zariel commented on #745
Are there any goroutines that have been blocked for a while in gocql?

[2016-06-23 08:13] Zariel commented on #745
I dont understand why there would be so much data in use when calling `writeBytes` as the data is just appended to the buffer, then eventually the buffer is flushed with the call to `finishWrite`. Kind of hard to diagnose.

[2016-06-23 13:19] balboah commented on #745
Unfortunately I didn't enable blocked procedures profiling and didn't see anything in particular stacking up when looking at running goroutines. But perhaps the buffer flush never happens when gocql tries to connect to a cassandra that has been terminated? As it seem to be stuck on trying to connect to some non-existent IP according to netstat?

Tried to reproduce as an isolated test but couldn't

[2016-06-23 17:30] Zariel commented on #745
You should be able to see the gorouines in the /debug/pprof/goroutine?debug=2. The the write path is a write of a single byte slice to the connection, which has a deadline if the session has a timeout.

[2016-06-25 01:11] umpc opened #747 "3.x Incompatible"
While running cassandra 3.7.0, I get the following error when attempting to connect:
[code]
How I am connecting:
[code]
I understand that the active developers cannot test this, so I will be reverting back to using an earlier version of cassandra. If someone would like more information, let me know.

EDIT: To follow up, the same error message was returned for every 3.x version that I tried, down t

[2016-06-25 08:31] Zariel commented on #747
The error is saying that if does not support protocol 2, instead use
protocol 4

On Sat, 25 Jun 2016, 2:11 a.m. umpc, <notifications@github.com> wrote:

[2016-06-25 09:18] #747 closed

[2016-06-25 11:49] harikt commented on #747
@Zariel

Question from a person watching this repo. Not using, but just exploring for a use case.

So doesn't it says version 3 and version 4 are supported ? Also I am not familiar with cassandra but wonder whether version 3 is supporting protocol version 3.

[2016-06-25 15:19] Zariel commented on #747
Yes, in versions > 2.2.x it is recommended to use protocol 4

[2016-06-25 15:52] harikt commented on #747
Thank you @Zariel .

[2016-06-25 22:08] umpc commented on #747
I'd guessed that ```(2)``` was an error reference for this type of event because of the parentheses it's enclosed in.

That fixes it. Thank you @Zariel.

[2016-07-06 09:47] jerome-laforge opened #748 "exec script sql file"
Hello all,
With gocql, does it exist a mechanism to execute a script cql file?
Thx in adv
BR

[2016-07-06 11:37] nlacey opened #749 "Non-panic ParseConsistency"
ParseConsistency() will panic (instead of returning an error) if you give it a non-standard value

Can you add this function to gocql?

[code]

[2016-07-12 14:06] Highstead commented on #696
Underlying cause is from the initial host lookup.   The quick and dirty solution is:
`gocql.ClusterConfig.DisableInitialHostLookup = true`

I'm probably going to submit a PR in the next few days because there are a few things related to this break which cause some performance problems.  Basically when it does the host lookup docker is returning a 172..... ip range which the gocql client in the app

[2016-07-14 17:25] marcusking01 commented on #745
Is you're profile showing bytes allocated or bytes in use?  I've seen similar issues before with re-using the same buffer over and over and how it needs to allocate new memory when it grows as each time the slice needs to grow it doubles it's memory allocation.  Perhaps using bytes.buffer instead would work as there are operations to clear/shrink the bytes allocated

[2016-07-14 17:39] Zariel commented on #745
`bytes.Buffer` uses a byte slice underneath so it would have the same effect. The `framers` should be recycled and reclaimed, if they are not that is a bug, the buffers they contain will stay around while they are used, so under high load I would expect framers to be recycled a lot, which will help reduce memory churn significantly.

I would be interested to see some in use profiles, in high loade

[2016-07-15 11:19] balboah commented on #745
I will probably try to reproduce again at some later time (but not high prio as it works as long as Cassandra does). Afaik it's not about getting stressed by being under too much load as the problem is small incremental increase over hours of time. It has been reoccurring when we've replaced / repaired Cassandra nodes with completely new instances (new IP, new id). Just didn't want to happen in my

[2016-07-15 16:24] Zariel commented on #748
please see #746

[2016-07-15 16:24] #748 closed

[2016-07-19 09:18] balboah commented on #745
@Zariel Could you point me to where exactly framer write buffer is flushed? I don't see it in `finishWrite` as you mentioned

[2016-07-19 09:45] balboah commented on #745
I still haven't been able to reproduce, and still far from understanding all the codebase. But a theory from reading the code so far:

Could it be that [query executor](https://github.com/gocql/gocql/blob/master/query_executor.go#L55) returns iterator after retrying a few times (with no error set), where the returned iterator contains the large framer(s), and that
[Iterator close](https://github.c

[2016-07-19 20:25] Zariel commented on #745
`framerPool` is a [sync.Pool](https://golang.org/pkg/sync/#Pool) and is collected at each GC.

[2016-07-20 00:56] calebdoxsey opened #753 "Random partitioner hash function does not match the reference python implementation"
The tokens produced by this function: https://github.com/gocql/gocql/blob/master/token.go#L92 do not match the reference python implementation: https://github.com/datastax/python-driver/blob/3fa4768304165fb9429abf8b341f2221d8149f62/cassandra/metadata.py#L1516-L1525 .

Because of this we were seeing requests hitting cassandra nodes unevenly. In my opinion the best course of action would be to match

[2016-07-20 07:43] #753 closed

[2016-07-20 12:20] markuscraig opened #756 "Disconnect / Reconnect event notifications?"
Hey Crew,

Nice job on gocql, I'm a fan...

For my production services, I could use notification events (via callback or channel) when the gocql client disconnects and reconnects to/from Cassandra.  This is useful for higher-level application logic (ie: invoke alarms, stop reading from a durable message queue, etc).

After looking through the code, it looks like the connection information is not p

[2016-07-20 13:37] balboah commented on #745
Still have not been able to reproduce the problem :( I did however run into https://github.com/gocql/gocql/issues/739 every time I try to decommission and cycle all nodes one by one

[2016-07-26 12:08] slayercat opened #757 "UDT not work with ScyllaDB"
Env:
ScyllaDB [https://github.com/scylladb/scylla] version `1.2.2`
gocql version `94f1315e46b0b2eae3a48a77a49e3e1cc9377923`

user following User Define Type
[code]
and following Table
[code]

with the guide in `https://github.com/gocql/gocql/blob/master/udt_test.go`

I use the following method

[code]

But It came up err
[code]

a deep view digs out it came from `session.go:1053`.

when remove the

[2016-07-26 13:53] penberg commented on #757
@slayercat I am not able to reproduce the error with [this reproducer](https://gist.github.com/penberg/46617bc464d4688c20c7f6370f7e5b0e).

Are you sure you are using Scylla 1.2.2 and not some earlier version? I'm asking because the bug very similar to https://github.com/scylladb/scylla/issues/1443 which is fixed only in 1.2.2 and the upcoming 1.3 release.

@avikivity @duarten

[2016-07-26 13:59] avikivity commented on #757
This is https://github.com/scylladb/scylla/issues/1443.

[2016-07-26 14:01] avikivity commented on #757
@penberg 1484 is slated for 1.2.3, it's not in 1.2.2.

We should soonish.

[2016-07-26 14:02] avikivity commented on #757
Meanwhile, this bug can be closed, since it's not a gocql problem.

[2016-07-26 14:16] avikivity commented on #757
ignore my previous two comments (and this one too).

[2016-07-26 14:16] penberg commented on #757
@avikivity The CQL binary protocol UDT metadata fix _is_ in 1.2.2: http://www.scylladb.com/2016/07/21/release-1.2.2/

Like I said, I suspect @slayercat is using an older version and hitting the now fixed bug.

[2016-07-27 06:41] slayercat commented on #757
Thanks,@penberg @avikivity , and sorry for version misreport. I rechecked and find it's `version 1.2.0`. pulled on dockerhub.

I retried on `version 1.3.0 RC`. and it works when there's value. but won't work when the result is NULL. A  reproducer [here](https://gist.github.com/slayercat/d2820d46bfbd5f34424dacad4175443a])

The panic info here.
[code]

Did some dig and found when there's a null UDT

[2016-07-27 06:56] penberg commented on #757
@slayercat I am able to reproduce the null UDT issue with Cassandra 2.1.8 so it's likely a gocql problem.

[2016-07-27 07:18] penberg commented on #757
@slayercat Yup, I think it's a gocql UDT unmarshaling bug and sent a pull request to fix it up.

[2016-07-28 08:33] #757 closed

[2016-08-01 18:43] mark-i-m opened #760 "Questions about Host selection"
Hello,

I had questions about gocql's host selection.

I need to run some queries on the `system.local` and `system.peers` in order to get information about the state of the cassandra cluster while doing live schema migrations. I am using gocql to execute the required queries. However, due to cassandra's weak consistency model, I need to be able to use the same node for each query. I was wondering

[2016-08-01 18:52] nemothekid commented on #760
I would set `DisableInitialHostLookup` and only provide one host. I'm not sure how well tested that path is so I would do a `SELECT hostid,broadcast_address FROM system.local` to make sure everything is working as described.

[2016-08-01 18:54] mark-i-m commented on #760
Great!

Thanks for the quick answer :smile:

[2016-08-01 18:54] #760 closed

[2016-08-02 15:40] robmccoll opened #762 "nil checks for interface types"
There are a few places like this:
https://github.com/gocql/gocql/blob/master/conn.go#L321
where interface types are checked for nil.  There is really no point in doing this since the nil is likely of a different type than the base nil type (for example a nil *gocql.PasswordAuthenticator).

The only way to actually do this kind of nil check is through reflection:
https://play.golang.org/p/9x8_L_qWh

[2016-08-04 09:41] dahankzter commented on #696
Any idea what to do about this? The scylladb docker image is also affected. My Linux based setups with the same docker image are not affected however.

[2016-08-04 09:43] MalteJ commented on #696
Simply build your own Docker image :wink:

[2016-08-04 09:47] dahankzter commented on #696
Yes but upstream would very much like to fix it. Do you know what is different in your build vs Cassandra docker image?

[2016-08-04 09:47] penberg commented on #696
@MalteJ So *how* did you fix it in your own image? I'm more than happy to do the same thing for our Scylla image.

[2016-08-04 09:49] MalteJ commented on #696
This was my Dockerfile:

    FROM debian:stretch
    RUN apt-get update && apt-get install -y openjdk-8-jre wget && apt-get clean
    RUN cd /opt && wget http://apache.lauf-forum.at/cassandra/3.4/apache-cassandra-3.4-bin.tar.gz && tar xzf apache-cassandra-3.4-bin.tar.gz
    ADD conf/cassandra.yaml /opt/apache-cassandra-3.4/conf/cassandra.yaml
    RUN adduser --system --home /opt/apache-cassandra-3

[2016-08-04 09:50] MalteJ commented on #696
I have posted the link to my Cassandra Docker repo before:
https://github.com/parce-iot/docker-cassandra

It is just a very simple Cassandra installation with default parameters.

[2016-08-04 09:56] penberg commented on #696
The ``Dockerfile`` looks pretty standard and the AFAICT the only change is in ``cassandra.yaml``:

[code]

Is that what makes the delay go away?

[2016-08-04 10:00] MalteJ commented on #696
I don't know. I have not investigated further.

[2016-08-04 15:04] Highstead commented on #696
If you're still seeing the lag after enabling:
gocql.ClusterConfig.DisableInitialHostLookup = true

It is likely not related to the connection timeout issue.  If the issue persists, it is that the dockerized ip addresses differ from the IP address you're supplying to the gocql driver.  When the driver connects to the node it does a host lookup and then finds a `172.*.*.*` ip address that your loca

[2016-08-04 15:35] rubycut commented on #267
Again same issue.

[2016-08-04 15:50] rubycut commented on #267
[code]

[2016-08-04 15:53] rubycut commented on #267
https://github.com/kubernetes/kubernetes/issues/23529

[2016-08-04 16:01] rubycut commented on #267
From the issue above, it seems package moved to: http://gopkg.in/inf.v0

Can we update gocql to use this new location?

[2016-08-04 17:56] nemothekid commented on #267
gocql *does* use this new location, the google code repo has been down for months:

https://github.com/gocql/gocql/blob/master/marshal.go#L20

Check if you are using the most up to date code?

[2016-08-05 07:13] rubycut commented on #267
Yes, you are correct, I had old code.

[2016-08-05 18:11] mattgen88 opened #764 "gocql API not conducive to testable code"
Hi,

I've recently been using gocql for a project and I'm finding that writing testable code that is using gocql is quite difficult.

I am finding that the problem mostly stems around not implementing interfaces for things like gocql.Session and gocql.Query.

For example, you cannot create a session mock since Session.Query() returns a *gocql.Query, which is a concrete object

Also, you cannot cre

[2016-08-09 22:23] Zariel commented on #756
This would be useful, what would you think the interface would look like? We could just expose it via https://godoc.org/github.com/gocql/gocql#HostStateNotifier which would be ran concurrently after the session deals with them

[2016-08-10 10:05] git-oca opened #765 "Node discovery takes a very long time."
Hi,

Not sure this is a bug or not, but node discovery seems to take a very long time (3 minutes or so) on my cluster (and even fail sometimes) way longer than what I'm used to using the java driver.
I did give a try to the "pre-node-events" which connect faster, but than seems to produce more error while reading the data.

I'm using Cassandra 2.1.11

I will be happy to help if I can but I don't k

[2016-08-10 10:17] git-oca commented on #765
My cluster is running on Ubuntu 12.04.5 LTS

[2016-08-10 14:13] git-oca commented on #765
This only occurs when I increase the cluster Timeout.

[2016-08-10 17:39] mzuneska opened #766 "library logging output"
I noticed that the gocql library logs in several different spots. For our production logging we prefer to log in json so random text output is at odds with this. Have there been any thoughts of removing the internal logging and bubbling up errors or allowing a logger to be injected?

[2016-08-11 07:56] dahankzter commented on #696
Yes that is what we do but it forces us to have a config for this because we want to enable it on our servers.

Should this work on native Mac? I use the new native Mac version but it is still the same.

[2016-08-15 09:00] wienczny opened #767 "Support for Float from std package math/big"
Currently "big" types from c* are mapped using "gopkg.in/inf.v0". Please add support for the std library math/big

[2016-08-15 15:37] #744 closed

[2016-08-16 08:14] Zariel commented on #766
Id be happy to add a logger to cfg, what kind of logger are you thinking of?

[2016-08-16 09:36] #749 closed

[2016-08-16 09:47] Zariel opened #771 "CCM Event tests are flaky in Travis"
We should add some hooks to the connection pool or session to detect events to test instead of using timeouts.

[2016-08-16 18:30] mzuneska commented on #766
Well we use https://github.com/Sirupsen/logrus which has the same api as the stdlib logger. I'd imagine any `log` that was injected in to  the `gocql` library would conform to the current set of methods on logger that `gocql` is using and no more than that. That much would be acceptable.

[2016-08-17 18:33] pwnsrma opened #773 "Support for Async Write Queries/Bulk Insert"
I couldn't find anything similar to "executeAsync" , I have tried (unlogged) batches to insert 40k-50k records into a Cassandra table but this is not recommended  when batches contain updates/inserts for multiple partitions.
Insertion causing Cassandra to complain with ---
"Unlogged batch covering 23 partitions detected against table []. You should use a logged batch for atomicity, or asynchronous

[2016-08-17 19:58] Zariel commented on #773
Gocql provides under the synchronous API an asynchronous interface to Cassandra, as is recommended for libraries. A single request is written and flushed as soon as they come in, leading to under high load a lot of time spent is syscalls which is a known issue #383, it is an unfortunate side effect of leading to simpler code.

I've heard of people getting very good throughput but using many gorout

[2016-08-18 06:29] pwnsrma commented on #773
@Zariel Thanks for the quick reply..!!
Will  test this with the Pool of goroutines.

[2016-08-22 05:49] #773 closed

[2016-08-22 15:38] bkimble commented on #764
+1

[2016-08-23 18:28] malandrew opened #774 "Use quit channel to terminate Session.reconnectDownedHosts"
Currently the reconnectDownedHosts temporarily leaks a goroutine and tries to execute handleNodeUp for each host after the session has been closed.

A quit channel and a time.NewTicker(intv) channel should instead be used with a select switch statement to either reconnect the hosts or terminate the goroutine.

[2016-08-24 07:43] #774 closed

[2016-08-24 08:20] Zariel commented on #766
Would having an interface like,

[code]

work?

[2016-08-24 08:20] Zariel commented on #765
Are you running in docker?

[2016-08-24 08:23] Zariel commented on #745
To debug this it would also be useful to have a list of the running goroutines and their current blocked time which are in gocql

[2016-08-24 08:24] #743 closed

[2016-08-24 08:24] Zariel commented on #727
Can you provide a small example which shows the problem?

[2016-08-24 08:25] #711 closed

[2016-08-24 11:12] git-oca commented on #765
Yes, running in docker.but after some more investigation, that may be my cluster that is causing the problem... I'm not sure right now...

[2016-08-24 19:05] Zariel commented on #767
Any particular reason? The decimal type in Cassandra are infinite precision decimals which are [encoded with a scale and an unscaled part](https://github.com/apache/cassandra/blob/824cb768d2aa45e1889653ab2c98cc0bc63e594e/doc/native_protocol_v4.spec#L859), as far as I am aware the `math/big` package does not support scaled/unscaled decimals.

[2016-08-24 19:06] Zariel commented on #765
This is probably the same issue as #696

[2016-08-24 19:41] wienczny commented on #767
I need to convert to and from a swagger model. The model is generated using go-swagger which converts swagger "decimal numbers" to float64. The problem is that there is no easy conversion between those two.

[2016-08-24 20:12] Zariel commented on #767
Are those floating point numbers or arbitrary precision decimals?

[2016-08-24 20:37] wienczny commented on #767
Those values are regular javascript floating point numbers on the wire. I'm using java.lang.BigDecimal for calculations the client side though

[2016-08-24 20:49] Zariel commented on #767
Then your losing precision over the wire, `gopkg.in/inf.v0` provides types which are compatible with `java.lang.BigDecimal`

[2016-08-24 22:35] wienczny commented on #767
You are right. That's why I don't want to loose more precision converting values. Maybe new types will be added with https://github.com/OAI/OpenAPI-Specification/issues/607

[2016-08-27 16:22] mzuneska commented on #766
I see both `log.Printf()` and `log.Println()` used in the library so it seems like to support the current code one would want
[code]

[2016-09-01 22:23] mediocregopher opened #777 "driver using up a ton of memory during a large amount of reads"
We have a 60GB box and it has been running out of memory during large data processing jobs. I did a profile of our code and found that 55% of memory is being used inside gocql. Here's the output from pprof:

[code]

[code]

There's some other unrelated memory problems I have to deal with after that, but this is far and away the worst offender.

I added a log message just above that make, and prett

[2016-09-02 11:25] ekle opened #778 "marshal: alias for gocql.UUID type ?"
hi,
is there a way to make an alias type for a uuid ?
I have uuids for different kinds of Ids and want the type-safty-system of golang to enforce this.
i tryed

- User struct{ gocql.UUID }

and

-  type User gocql.UUID

but with both i get "can not marshal abc.User into uuid"
i use the ids mostly as keys in cassandra map-fields.

[2016-09-04 16:33] Zariel commented on #777
The line that allocates the `readBuffer` in `readFrame` is used to copy data from the network connection so that it can be parsed, the connect them reads another frame whilst parsing happens on another goroutine. The reason it is copied is so that it frees up the connection for another frame to improve concurrency, parts of the buffer are then copied again into the individual types so that any dat

[2016-09-04 18:48] Zariel commented on #778
It should be possible to do

[code]

[2016-09-05 07:21] ekle commented on #778
my UUIDs are mostly map-keys within structs. so this solution would require to duplicate all this structs and copy the data.
is there a way by implementing some Interfaces ? maybe Marshaler or UDTMarshaler ?

[2016-09-06 16:43] zachbadgett commented on #690
Is there an explanation on why switching to ScanCAS fixes this problem? Exec and ScanCAS should do the same thing; both call `q.Iter()`.

[2016-09-06 17:22] Zariel commented on #690
The CAS methods extract the first boolean param from the response which indicates applied, you could do it with Scan and pass in the boolean yourself

[2016-09-06 21:04] zachbadgett commented on #690
Why did it fix his timeout problem?

[2016-09-07 00:28] samipshah opened #779 "KeyspaceMetadata does not set protocol version and hence not useful for marshal"
I am not really sure if this is a bug or its by design. However, what I am trying to do is when a session is started I fetch column information and while inserting data, I use that column information I retrieved from KeyspaceMetadata in Marshal function. The problem I face is Type.Version() in ColumnMetadata always returns 0 since the NativeType proto is not set in the metadata.go . Let me know if

[2016-09-07 07:34] Zariel commented on #779
Looks like a bug

[2016-09-09 00:27] mediocregopher commented on #777
This ended up being an issue on our end, we were unmarshalling the data into a `[]byte` and then that was kept around for waaaaaay too long, and since that byte was allocated in gocql it looked like gocql had the leak. Sorry about that

[2016-09-09 00:27] #777 closed

[2016-09-12 20:35] didip opened #781 "Does gocql implement async writes?"
I'd like to insert large volumes of things and I don't care about replays (i.e. if there are errors on some rows, keep going).

I've been seeing this in the log file:
[code]

Furthermore, I cannot grep about async anywhere in the code base.

Got any pointers?

[2016-09-12 21:02] nemothekid commented on #781
The gocql library exposes a synchronous API, and you can implement async on top of it with go primitives. By far the simplest is to use goroutines and channels, similar to http://labs.strava.com/blog/futures-in-golang/

What I do, which is pretty un-idiomatic is:

[code]

[2016-09-12 21:08] didip commented on #781
I see, so there's nothing in the CQL protocol that differentiate sync vs async. Thanks!

[2016-09-13 07:15] orangemi opened #782 "Cannot connect to Cassandra 3.7"
- Start [Cassandra 3.7](http://www.apache.org/dyn/closer.lua/cassandra/3.7/apache-cassandra-3.7-bin.tar.gz) with `bin/cassandra -f`
- Use the Example code written in `README` and change the host to `localhost`
Result:
[code]

Note: No problem with Cassandra 2.2.7, but a warning:
[code]

I saw README said to change the protocol version to use Cassandra 3 but how?

[2016-09-13 07:24] orangemi commented on #782
Sorry I'm very new to Go. I found the solution.
After `cluster := gocql.NewCluster("localhost")`, add `cluster.ProtoVersion = 3` to solve.
But it does not look good to use. Is there any plan to solve?

[2016-09-13 07:25] orangemi commented on #782
I think #691 said the same thing.

[2016-09-13 20:49] Zariel commented on #782
We should essentially implement auto detection of protocol see #540. Cassandra requires you to set a protocol version, the error is saying it must be 3 or 4 for version > 3. Set it to 4 and everything will be fine. Closing this a duplicate of #691

[2016-09-13 20:49] #782 closed

[2016-09-13 20:52] Zariel commented on #781
The message from Cassandra is referring to what I assume is the Java drivers async write feature (which is a little bit naughty?). Gocql provides a synchronous API over an asynchronous protocol which is the recommended way for Go libraries.

[2016-09-13 20:52] #781 closed

[2016-09-13 20:57] Zariel commented on #767
There is a proposal to a big decimal type to the standard library see golang/go#12127 but that wont solve the issue of the incompatible types you are encountering. I would recommend converting them to strings or such and then converting back to the decimal type. Unless you have any suggestions I don't see how to implement the decimal type in Cassandra with the types in `math/big`.

[2016-09-15 15:45] nathany commented on #771
Does that refer to these (flaky) tests, or are these something else?

[code]

[code]

build: https://travis-ci.org/gocql/gocql/builds/159111287

[2016-09-15 15:53] nathany opened #783 "Google Inc. in LICENCE?"
Just curious as to why gocql uses the same three-clause license as Go with a non-endorsement clause mentioning Google?

[2016-09-15 16:02] nathany opened #784 "Travis and JDK 8 for Cassandra 3.x"
As of September 2016, it looks like JDK 8 is available:

See https://github.com/travis-ci/travis-ci/issues/3259#issuecomment-243534696

[2016-09-16 15:58] Zariel commented on #771
No something else, those 2 are other flakes :(

[2016-09-17 11:46] Zariel commented on #783
This indeed looks odd a wrong (license was probably copied from the Go repo) and was done before my time, we should switch it out to a standard 3-clause BSD license.

[2016-09-17 13:16] #681 closed

[2016-09-18 11:55] Zariel opened #789 "TestUnpreparedBatch is flaky"
Seems to be on 2.0 only

[2016-09-18 17:22] simplyianm opened #790 "Unsupported response version: 72"
Hi,

I'm getting the following error:

[code]

Any ideas? Thanks.

[2016-09-18 17:28] #790 closed

[2016-09-19 11:43] balboah commented on #745
I won't have access to the same setup again and were not able to reproduce, closing the issue

[2016-09-19 11:43] #745 closed

[2016-09-20 20:07] nathany commented on #418
Though a somewhat independent concern, Error types or Err constants would be nice.

[2016-09-21 22:19] didip opened #791 "No result when select *?"
Hi all, I am sure I miss something obvious here. I have a 4 nodes C* cluster for testing and this is my table:
[code]

and this is how I query it:
[code]

Super straight forward, almost hello world like.
On a single machine cluster, like a dev machine, I always get results.
But on my 4 hosts cluster, I get no results. Why is that?

`cqlsh` always returns the correct results. What gives?

[2016-09-21 22:22] tendervittles commented on #791
What is your replication factor?

[2016-09-21 22:34] Zariel commented on #791
Is there an error returned from CreateSession?

On Wed, 21 Sep 2016, 11:23 pm tendervittles, <notifications@github.com>
wrote:

[2016-09-21 23:02] didip commented on #791
Thank you for taking the time in looking at this issue, but apparently my Cassandra user has every single GRANT privileges except SELECT.

Thanks why. Sorry for wasting your time.

[2016-09-21 23:02] #791 closed

[2016-09-22 17:48] Highstead opened #792 "ScanCas expects more parameters on insert than defined"
When inserting a subset of the table columns with use of a light weight transaction the cassandra result returns the full set of cassandra column values.  This will then cause ScanCas() to fail due to a mismatch in columns.

This is perhaps not an issue with a driver, but is a result of how cassandra handles 'if not exists'.  I'll ponder this for a couple of days anyways.

## Example:
### CQL
[cod

[2016-09-22 17:50] Highstead commented on #792
This would be low priority as i suspect mapScanCas will function fine for my purposes.

[2016-09-22 18:15] Zariel commented on #792
The annoying thing is that I suspect Cassandra is returning the whole row back (in a pretty annoying order too) regardless of columns inserted. Maybe raise a Cassandra bug? Not sure what can be done our side for this apart from using MapScanCAS.

[2016-09-22 18:20] Highstead commented on #792
Yeah, i'm of the same opinion.  I'll close the Issue if i don't come up with anything in a day or so.

[2016-09-22 18:37] Highstead commented on #792
Opened an issue on the Cassandra Jira.

[2016-09-22 18:48] Zariel commented on #792
It would be nice to be able to specify the column order and columns to be returned in the query request, I may open a ticket for that.

[2016-09-26 01:48] macalinao opened #793 "Request: Per-query timeout"
Hi, I have some larger queries that I would like to have higher timeouts. Is there any way I can specify a timeout per query?

[2016-09-26 17:56] Zariel commented on #793
If wanted to have this as well, I think the confusion comes because we have always used the Timeout option in the config as both dial, read/write and query timeout. This would require clarification in the docs about what the global timeout config applies to, and an optional timeout can be set on Query/Batch.

This should only require a very small functional change which instead of using the config

[2016-09-26 18:01] #783 closed

[2016-09-26 18:01] Zariel commented on #783
Thanks!

[2016-09-26 18:02] #767 closed

[2016-09-26 23:01] nathantchan opened #796 "Cassandra TinyInt Does Not Map to Go int8"
When I try to use .SliceMap() with a query result that passes back to tiny ints, I get the panic: reflect: New(nil) error.
I'm using Cassandra 3.7, Go 1.7, and the latest pull of gocql using Debian Jessie.
[code]
[code]

[2016-09-27 08:26] #796 closed

[2016-10-03 19:06] Highstead commented on #792
Cassandra feedback is 'will not fix, working as intended'
Jira ticket was: https://issues.apache.org/jira/browse/CASSANDRA-12691

Primarily the thought is 'what if someone is already using it like this'... which makes sense.  The more i think about it the more i suspect a scan specific to the fields returned is probably the way to go.

[2016-10-06 21:55] karapas opened #800 "Query timestamp resolution"
Hi folks,

We are using the latest gocql release with Cassandra 3.7.0 ([cqlsh 5.0.1 | Cassandra 3.7.0 | CQL spec 3.4.2 | Native protocol v4]). We noticed some strange behavior where some writes would be lost, even though it is not intended by our application.

We tracked down the issue and it was because a write, say A, would have a conflicting timestamp with another write, say B (both write updat

[2016-10-08 02:42] i commented on #793
It'd be great to specify this using context timeouts/deadlines.

[2016-10-14 12:00] Dieterbe commented on #69
yes please :)

[2016-10-15 00:11] parsaila opened #801 "Query- gocql connection retry"
Does gocql retry to make connection again when cassandra nodes goes down.
What I am seeing is once all the cassandra node is restarted then gocql is keep returning error "no hosts available in the pool" even if cassandra comes up again.
On every query I am checking if session is closed then I am creating session again.

[2016-10-17 22:23] base698 commented on #664
what version is this fixed in?

[2016-10-17 23:12] Zariel commented on #664
https://github.com/gocql/gocql/pull/672/commits/a4051028e53fdf9bfb04dc1530d4742deb96e33e

[2016-10-18 10:55] Ganners commented on #705
This would be useful, particularly as https://github.com/gocql/gocql/commit/f859eab0b61553a2f3f5aae1043da09755c9e37c breaks some of our legacy builds.

[2016-10-18 15:41] skeswa commented on #705
I 100% agree. Especially given that using a real versioning scheme will
provide more information to users on how impactful any given change is.

On Tue, Oct 18, 2016, 6:55 AM Mark Gannaway <notifications@github.com>
wrote:

[2016-10-18 22:01] nathany commented on #766
Would it make sense to add the Logger to ClusterConfig? Something like this:

[code]

And default it to `log.New(os.Stderr, "", log.LstdFlags)`, which is the standard logger.

[2016-10-19 03:40] kzcabstone commented on #677
@didip Not sure if you have solved this but answer seems to be here:
m := &map[string]interface{}{}
	for iter.MapScan(*m) {
		ret = append(ret, *m)
		m = &map[string]interface{}{}
	}
This worked for me and returned all rows.

[2016-10-19 05:56] didip commented on #677
Interesting, so user have to re-initialize the map again.

For now, I am actually more satisfied with scanning individual variables because they are easy to spot in the code base.

I will give this a try again when I have the chance.

If you guys don't mind, I will close this ticket now.

[2016-10-19 05:56] #677 closed

[2016-10-19 19:02] nathany commented on #784
sorry. this is a duplicate of #645.

[2016-10-19 19:02] #784 closed

[2016-10-19 19:12] nathany commented on #766
I've started on these changes in #803.

One question is whether or not gocql wants to limit its logging to `Printf` and `Println`?

[2016-10-19 19:35] nathany commented on #771
Ok. I didn't see #789 at the time.

In this event test I don't see any timeouts -- I'm not sure why it fails sometimes.

[code]

from: https://travis-ci.org/gocql/gocql/jobs/168777130

[2016-10-19 20:04] nathany commented on #771
I don't understand why this is failing.

[code]

From what I see, cmd.Run is synchronously running `ccm start --wait-for-binary-proto` which says it will:

Yet there is a Sleep that apparently isn't enough?

[code]

Perhaps a temporary fix would be a retry loop that polls every few seconds:

[code]

[2016-10-19 20:25] Zariel commented on #771
Tbh I would rather mock out the event testing code to better isolate it and allow it to be more reliably testing something.

[2016-10-20 11:30] iDiyor opened #806 "Does SliceMap support UDT unmarshalling?"
Using `iter.SliceMap()` on a query result (iter) for a table containing a list of frozen UDTs gives
`runtime error: slice bounds out of range`

However, it works when I manually scan each field with `iter.Scan()`

Does it mean that SliceMap does not support UDT?

[2016-10-21 19:11] #801 closed

[2016-10-22 14:39] Zariel commented on #771
Ive got some ideas to try and fix this but will skip them for now

[2016-10-22 14:40] Zariel commented on #806
That looks odd, can you provide a small test case?

[2016-10-22 15:25] #645 closed

[2016-10-23 11:24] iDiyor commented on #806
I have the following table with `shift_day` UDT:
[code]

Querying the table:

[code]

In the code above,  execution fails on line where `results, err := iter.SliceMap()` is defined, causing `runtime error: slice bounds out of range`

The following code with `Scan()` works without an error:

[code]

[2016-10-24 01:15] ddave09 commented on #390
I am using protocol version 4. I had the same error just now where I was trying to insert a row with a UDT column

cql type:
CREATE TYPE x_y (
    a double,
    o double
);

go type:
type XY struct{
  A float64
  O float64
}

cql column name: a_b type x_y
go column name: AB type XY

insertion to row with column AB failed silently and succeeded after I changed type XY to:
type XY struct{
  A float6

[2016-10-26 12:10] Zariel commented on #766
Hmm, im not sure, I can see cases where we would want to have some severity? Im not sure what is best practices here.

[2016-10-26 12:11] #765 closed

[2016-10-26 13:00] Dieterbe opened #812 "query retries rarely cause retries because hostpoolpolicy aborts query execution"
So I don't know if this works as designed or not.  At least I found things counter-intuitive and spent quite some time troubleshooting what's going on.

In my [client app](https://github.com/raintank/metrictank) I've implemented a config option to enable query retries, which just enables a SimpleRetryPolicy within gocql.
I then use toxiproxy to artifically slow down cassandra, somewhat randomnly,

[2016-10-26 16:00] nathany commented on #766
Nor am I.

If gocql adopts something like logrus for severity levels, it would still be nice if users could configure it to do JSON for some.

What I'm currently struggling with is how to send all the logging through a ClusterConfig Log field rather than using a global.

[2016-10-26 19:19] nathany commented on #766
A policy of only logging errors would avoid the need for severity levels, and may also remove some logging that may not really be necessary.

[2016-10-26 21:01] Zariel opened #813 "Query warnings should be available on the returned Iter"
Currently query warnings are read in the framer and just logged, instead they should be available to the user as `[]string`, something like

[code]

[2016-10-26 21:10] Zariel commented on #812
Yep, I realised whilst refactoring to add the `queryExecutor` that the retry policy interface is severely limiting, I had created #735.

Some ideas spring to mind
- Eagerly consume from the host iterator
- Improve retry policy interface to return next host for a given error + query.
- Make retry policy take a list of hosts or a HostIter, then have it return a query plan with methods like,

[code]

[2016-10-27 08:35] Zariel commented on #762
As far as I am aware it is logically the same as this, https://play.golang.org/p/ziYedmJTIw. The case you are talking about is when an interface value is assigned a nil struct, which this shouldnt be, I guess a user can implement an Authenticator which does this.

[2016-10-27 08:35] #762 closed

[2016-10-28 15:49] hgfischer opened #815 "How SliceMap or MapScan are supposed to be used with paginated results?"
Hi,

I'm doing a small program that will read random Cassandra tables, with varying schemas, so It seems SliceMap or MapScan could be what I need, but I'm not finding much info about them.

Is SliceMap going to load all the rows into memory? Or it's just a page of it? If it's just a page, how am I supposed to iterate with this API?

[2016-10-28 20:49] janajri opened #816 "Segfault"
Hey there, we noticed that recent builds have been segfault-ing with the specific stacktrace -- I'll add more info as soon as I know more.

10/28/2016 4:47:46 PMpanic: runtime error: invalid memory address or nil pointer dereference
10/28/2016 4:47:46 PM[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x9a8b7d]
10/28/2016 4:47:46 PM
10/28/2016 4:47:46 PMgoroutine 42714 [running]:
10/28

[2016-10-28 20:59] i commented on #816
This was introduced by: https://github.com/gocql/gocql/commit/3d6a7fbdbdb2f4fcd679cd7846a56986f4ee44c7

It needs to be rolled back ASAP.

[2016-10-28 21:54] nemothekid commented on #816
Looks like the [LRU's Get Operation isn't Read Only](https://github.com/gocql/gocql/blob/master/internal/lru/lru.go#L23).

[2016-10-28 22:20] janajri commented on #816
@i yup, does seem so -- we pulled an older commit and have been fine. Thansk for the quick action here -- closing this out.

[2016-10-28 22:20] #816 closed

[2016-10-28 23:10] Zariel commented on #816
As the LRU moves the read value from the front of the list this requires a write lock.

https://github.com/gocql/gocql/blob/2e915f92d7783579c51937e238dc5307c8f00505/internal/lru/lru.go#L81

[2016-10-29 10:25] Zariel commented on #816
Thanks for the report as well

[2016-10-29 10:27] Zariel commented on #778
In go 1.8 if aliases are added (which it looks like they will) this will be possible, but not until then. You could implement `MarshalCQL` which you just need to turn your UUID into a 16 byte value.

[2016-10-29 10:27] #778 closed

[2016-10-29 10:28] Zariel commented on #792
The annoying thing from a user perspective is that the first time someone uses a CAS operation the returned columns are returned in an order that they dont expect. We should be able to specify the column return order in the query somehow.

[2016-10-29 11:42] #792 closed

[2016-10-29 11:43] Zariel commented on #812
Something I can see happening is host priority, the host selector is returning a list of hosts in some priority, the retry policy needs to respect that as well.

[2016-10-29 16:54] Dieterbe commented on #812
Isn't it a problem that by the time a query needs to be retried the host priority list may be out of date ? Hosts may have gone down, marked slow, etc. Maybe it needs to refresh the list at every try ? Seems like host selection and retry policy are very intertwined matters,  maybe we should just merge them into one thing. E.g. the host policies could contain the code for how/when to retry queries.

[2016-10-29 17:51] Zariel commented on #812
true, but that greatly complicates the policies and makes them much harder to implement. I don't think its entirely a problem as if the retry policy is passed an `[]*HostInfo` then it will know if a host is down due to the shared HostInfo, but wont get hosts that are up. Potentially we could returned downed hosts from the host selector which can be passed through.

[2016-10-29 18:19] Dieterbe commented on #812
But hostSelectionPolicies can be more finegrained AFAIK and use a more nuanced criterium such as latency, rather then binary up/down. Isn't the epsilon-greedy hostpool an example of this? AFAIK at every single query it may adjust its preferences. (with hundreds of qps that means every few ms).
Also if host was dead at first, but then became live again and a connection was re-established, i would w

[2016-10-30 10:01] Zariel opened #818 "Add concept of host locality to query execution and host selection policies"
Indicate if a host is in the local DC or not.

[2016-10-30 12:41] #540 closed

[2016-10-31 11:11] nathj07 commented on #704
I've just hit this bug while running unit tests - thankfully it was unit tests. This is really unexpected behaviour.

I would vote for

As the solution. That to me makes the most sense. Is there any update on this issue? Anyone else have any further thoughts on it?

[2016-10-31 12:38] nathj07 opened #820 "Unknown column kind 'static'"
Cassandra: v.2.2.7
Go: go1.7.1 linux/amd64
gocql:
[code]
So I think I'm all up to date. The trouble is in my schema I have columns like `exclude_methods boolean STATIC,` (I can't post the full schema for business reasons)

I am now getting errors:
[code]
I have oly just updated the `gocql` package from commit `b7b8a0e04b0cb0ca0b379421c58ec6fab9939b85`. This was not a problem prior to the upgrade.

[2016-10-31 13:16] hgfischer commented on #815
Hello,

Could you give me any points about this, please?

[2016-10-31 17:10] #815 closed

[2016-10-31 21:45] Zariel commented on #815
MapScan works like a normal iterator, SliceMap returns every row as a map per row.

[2016-11-01 05:19] mzuneska commented on #766
Taking a step back here I guess I'd ask what is the goal of logging in this library?
- if it's for informational use for writers of the library I already see [what looks like a debug flag](https://github.com/gocql/gocql/blob/8fddba88e0d246cabfb37be496813a5c30979ad6/events.go#L94) and that could be used in more places.
- if it's for ideally for me as a user of this library then logging and not send

[2016-11-01 09:31] #820 closed

[2016-11-01 16:55] hgfischer opened #822 "Iter().MapScan() and "can not unmarshal X uuid into gocql.UUID""
Hello,

first of all, thanks for this package!

I'm getting this error from inside a Iter().MapScan(), Iter().Scan() call:

```can not unmarshal X uuid into gocql.UUID```

I was trying to understand the reason and I found the code at https://github.com/gocql/gocql/blob/734b8e8dfe75f153dbeac49fac906e677b1d0a0a/marshal.go#L1412

I'm not sure what is the expected behaviour here, but since the `value.

[2016-11-01 17:01] hgfischer commented on #822
It looks like is an issue with `MapScan()` because when I do the following, I never hit this issue:

[code]

[2016-11-01 22:13] nathany commented on #766
I agree with Mark's suggestion to take a step back and consider why gocql is logging where it does.

Meanwhile, my colleague @chris-skud pointed out a workaround to have gocql use [Logrus](https://github.com/Sirupsen/logrus) for JSON output.

[code]

Alternatively, if all logging is going through something like Logrus, the standard library logging can be discarded entirely with the following:

[co

[2016-11-01 22:23] Zariel commented on #766
I agree, many of the logs help me debug issues for users, the debug flag I intended to use in cases where verbose logging was too obtrusive to run all the time and to assist in debugging travis testing issues.

[2016-11-02 19:40] d3ce1t opened #823 "session.NewBatch(...).WithTimestamp(...) doesn't work"
It seems like custom timestamp set in a batch by using session.NewBatch(...).WithTimestamp(...) is lost or ignored somewhere.

I have created a test to check this behavior in -> https://play.golang.org/p/4U7bx564d5. Download it, change some constants to configure where is your Cassandra server and execute it.

This test connects to Cassandra, creates a new table in the keyspace you indicate and ex

[2016-11-02 20:58] nathany commented on #766
I'm experimenting with log levels in Logrus. It's possible to set all standard library logging to a given level, such as info.

[code]

The result is that the current gocql logging is discarded if the LogLevel is set to warn or above. That may not be the best, because some logs from gocql are errors (like connection failures), but so far I can work around that by logging returned errors at a highe

[2016-11-03 09:10] Zariel commented on #823
The protocol does not allow you to set a timestamp per query in a batch, only for the whole batch.

[2016-11-03 15:11] d3ce1t commented on #823
I assume your comment refers to the tests Batch_Logged_UsingTimestamp and Batch_Unlogged_UsingTimestamp where I set USING TIMESTAMP as part of the two queries inside the batch. As you can see if run the test, timestamp set per query in the batch with USING TIMESTAMP works here.

As stated in https://docs.datastax.com/en/cql/3.3/cql/cql_reference/batch_r.html:

Anyway, this test purpose is to stand

[2016-11-03 15:29] Zariel commented on #823
Yes, but this is not supported in the protocol which is what WithTimestamp sets on the query, for batch see [0] and for query see [1]

[0] https://github.com/apache/cassandra/blob/22a3db0653ea5a45b396c7d8c07138d4257be5d6/doc/native_protocol_v4.spec#L379
[1] https://github.com/apache/cassandra/blob/22a3db0653ea5a45b396c7d8c07138d4257be5d6/doc/native_protocol_v4.spec#L307

[2016-11-03 17:28] d3ce1t commented on #823
I don't think I understand your point or there is something I am missing most likely.

Do you mean that session.NewBatch(...).WithTimestamp(...) works by setting the timestamp of the individual queries at protocol level?. If that's the case, why not just setting the timestamp for the whole batch?

I have checked the specs you provided about CQL binary protocol. AFAIK batch message has the followin

[2016-11-04 07:38] bughou opened #824 "no case clause for TypeDate and TypeTime"
helpers.go:22 func goType:

no case clause for TypeDate and TypeTime, so when i have a such column, it panic with
"PANIC: reflect: New(nil)"

have a look please. thanks.

[2016-11-04 14:06] wyndhblb opened #825 "panic in GetHostForToken"
Before the current release of the HostInfo things, if Cassandra "crashed" or there was a network partition and no nodes could be reached, gocql simply errored out saying "no nodes in pool" or something to that effect.  Now it panics

(this is on the master branch as of yesterday (2016-11-03))

[code]

Not sure if this is the desired behavior, it's certainly not for most DB use cases, where backpre

[2016-11-04 14:15] wyndhblb commented on #825
see https://github.com/gocql/gocql/pull/826 as a potential fix

[2016-11-04 22:29] i opened #827 "TokenAwarePolicy is broken for Cassandra 2.2"
Cassandra 2.2 drops the `*_aliases` fields from the `system.schema_columnfamilies` table.

The current implementation of the token aware policy reads this table in order to derive routing keys. This results in falling back to the backup host selection policy on 100% of queries.

[2016-11-06 07:07] olegabr opened #828 "CQL date type is not supported?"
I have a field of type `date` in my CQL table. When I try to insert data in this table from my `gocql` code, I have this error:

[code]

I've tried to use string representation since CQL docs states that `date - Date string, such as 2015-05-03` but has similar error:

[code]

How to deal with date type from `gocql` code?

[2016-11-06 17:01] Zariel commented on #828
That should marshal, ill take a look

[2016-11-06 21:02] mzuneska commented on #766
Thanks @nathany I'll try the workaround for now.

[2016-11-06 21:02] #766 closed

[2016-11-07 21:47] Zariel commented on #828
Yep it appears they are not implemented for marshal/unmarshal. Time is trivial, date is not so obvious. Ill need to add some tests before I can add these.

[2016-11-07 21:48] Zariel commented on #827
This should only cause a fallback when not using proto v4 though as it should be the primary key from the prepared info. This falls into the mess that is supporting the various metadata versions that different cassandra versions support, it needs refactoring and improving.

[2016-11-07 21:48] #825 closed

[2016-11-07 23:38] nathantchan opened #829 "Better Error Message If SliceMap Called With Null Values"
Right now, if Cassandra returns a row with null values in it, and one calls SliceMap on that row, a Go panic occurs and the runtime error is index out of range.

[2016-11-08 10:30] hgfischer commented on #822
Hi,

I've prepared a way to reproduce the issue here: https://github.com/hgfischer/gocql-debug/

Just be sure you have all dependencies and do a `make all`. This will create a VM with Cassandra 2.2 and run `main.go` that will show the issue.

You can see that MapScan always get the first row, but fails in the next one. Seems to be that it is related to a reused map or buffer.

[2016-11-08 10:58] hgfischer commented on #822
If I don't reuse the map where MapScan() will store the results, then there is no issue. It is a workaround to initialise this map with a new `map[string]interface{}` after every iteration but this creates a lot of garbage and it will not scale well.

[2016-11-09 17:30] Eriken commented on #675
This is still an issue for us;
This snapshot works however:
https://github.com/Eriken/gocql-snapshot

I am unsure what commit this is.

[2016-11-14 02:59] didip opened #830 "Can I pass my own tls.Config?"
Based on the code base here: https://github.com/gocql/gocql/blob/9395dd748fc5af1bca332eb778f01dc80577a3b2/connectionpool.go, it looks like I cannot pass my own `*tls.Config`.

If so, can I have a feature request for user to be able to pass their own `*tls.Config`?

The use case is so that user can have the ultimate control over the TLS settings. Example:

[code]

[2016-11-14 04:57] robusto commented on #830
Yes, look at the SslOpts field that is exposed in ClusterConfig. "tls.Config" is exposed as an anonymous field:

https://github.com/gocql/gocql/blob/9395dd748fc5af1bca332eb778f01dc80577a3b2/cluster.go#L52
https://github.com/gocql/gocql/blob/9395dd748fc5af1bca332eb778f01dc80577a3b2/conn.go#L82

Example:
[code]

Related PR: https://github.com/gocql/gocql/pull/414

[2016-11-14 05:27] didip commented on #830
Ah! Perfect. Thank you for the quick response.

[2016-11-14 05:27] #830 closed

[2016-11-15 14:48] chummydog opened #831 "qocql: no hosts available in the pool"
In using the gocql library from about two weeks ago I noticed the following issue (we had been using a gocql version from last april and see the same issue, even though your code has changed in this area - you seemed to fix a big in ring.go).  Our application runs in a cloud environment where cassandra instances can move around from node to node (IP addresses will be different).  Therefore, we use

[2016-11-16 10:58] Wenyi751 opened #832 "Always having 'Connection reset by peer' when inserting data"
I have four docker containers (each for one node in the same cluster) on a ubuntu virtualbox. When I use the gocql driver on the host machine to insert data into cassandra, there will always raise this exception:

INFO  10:49:32 Unexpected exception during request; channel = [id: 0x00b9ea1e, /10.0.2.2:52301 => /172.18.0.6:9042]
java.io.IOException: Error while read(...): Connection reset by peer

[2016-11-16 11:34] vrischmann opened #833 "Use a custom logger instead of the default from the log package"
Hi,

currently gocql logs using the default logger via `log.Printf` or `log.Println`, it makes it impossible for me to separate gocql's logs into its own file (I generally a log file for my app, a log file for sarama (Kafka client), a log file for service discovery, etc. I'd like to be able to put the gocql logs into a gocql file).

Sarama (the Kafka client I use) defines [its own interface](https

[2016-11-18 15:33] clanstyles commented on #664
I'm still having this error. I checked the previous commit and I do see it in my version I compiled with.

[2016-11-19 16:29] clanstyles opened #835 "no response received from cassandra within timeout period"
I wrote an app to transfer our 80 GB MySQL cluster to Cassandra. It takes some time because of the restructuring of the data.It seems that no matter how many times I try it, eventually it always "crashes" with
"no response received from cassandra within timeout period". Once this happens, the process will hang forever. It wont add any more data. I can see in OpsCenter that no more writes happen, a

[2016-11-19 18:55] Zariel commented on #835
Can you look at the goroutines in use and see if any are stuck in gocql? Infact if you can provide all the stacks of code in gocql that would be helpfull looking into this.

[2016-11-19 19:03] clanstyles commented on #835
How can I give you this? The process is still running.

[2016-11-19 19:04] Zariel commented on #835
If you have net/pprof handlers installed you can grab them there, otherwise if you can kill it with ABRT and it will stop and dump stacks.

[2016-11-19 19:33] clanstyles commented on #835
I don't have net/pprof setup. If I have to, I'll cause the issue again after setting up handlers for it.
kill -ABRT <pid> and kill -6 both don't stop the process.

[2016-11-19 21:52] clanstyles commented on #835
Alright, I got the data out of it.

It looks like it's leaking Go routines.

[code]

[2016-11-19 22:50] Zariel commented on #835
None of those have any frames in `gocql`, were any of the snipped frames in `gocql`?

[2016-11-20 03:16] clanstyles commented on #835
The amount of those overflowed and the buffer of the terminal goofed it.
Let me write it to file.

On Nov 19, 2016 5:50 PM, "Chris Bannister" <notifications@github.com> wrote:

[2016-11-21 03:06] Wenyi751 commented on #832
I find out that it may be some issue with the vagrant, so close it.

[2016-11-21 03:06] #832 closed

[2016-11-22 04:56] nikhilmahesh commented on #462
I am still facing this issue while deploying my code on appengine using aedeploy. Is there anything specific I need to change to make this work ?

[2016-11-22 06:31] nikhilmahesh commented on #462
@hackintoshrao : Even, I can not see the change you were about to make in your repo.

[2016-11-22 09:34] Zariel commented on #462
yes please

[2016-11-22 11:13] vrischmann commented on #833
I'm closing this since I implemented it in #834

[2016-11-22 11:13] #833 closed

[2016-11-22 20:59] vrischmann commented on #822
[This](https://github.com/gocql/gocql/blob/master/helpers.go#L261-L265) is the problem. Using your test environment, I logged the content of values after the for loop, I got this:

    2016/11/22 21:50:03 value: 00000000-0000-0000-0000-000000000000
    2016/11/22 21:50:03 value: 0xc42000c420
    2016/11/22 21:50:03 value: 0xc42000c430
    2016/11/22 21:50:03 value: &[]
    2016/11/22 21:50:03 valu

[2016-11-23 02:30] nikhilmahesh opened #837 "CreateSession is producing timeout on AppEngine deployment"
I am facing this issue while deploying my code on appengine using aedeploy. Is there anything specific which I need to change to make this work ?

gocql: unable to create session: control: unable to connect to initial hosts: dial tcp xx.xx.xx.xx:PORT: i/o timeout

[2016-11-23 08:12] hgfischer commented on #822
Yes, using delete, or creating new maps on each interaction is a fix, but not ideal. Instead of generating a lot of memory garbage, I've decided to work around and don't use MapScan() because of this.

IMHO iteration variables should be always reused, and MapScan is not working this way right now. People using it might notice huge performance improvements with large collections of data, if this is

[2016-11-24 22:49] Highstead opened #839 "Long connect time when 1 node down in cluster"
So I have not isolated the problem yet but if anyone wants to pop in with a guiding hand or tell me functioning as intended i'd appreciate it.

One of the cassandra nodes was terminated in AWS so we lost access to it at a network level.  This increased connection times and caused smoke tests to fail on deployment and thus automatic rollbacks.

This seems to only be reproducible when the node is te

[2016-11-28 20:06] thrawn01 commented on #727
I had this problem with a previous version of the code, but upgraded to master and the bug is no longer manifest. @sudheernayudu can you confirm so we might close this issue?

[2016-11-28 23:39] aravindvs opened #841 "UDTs of type map[string]interface{} errors out on marshalUDT when missing fields"
This is very similar to #757. With that issue resolved, unmarshalUDT never panics. But CQL spec states this (as mentioned on the other commit as well):
"
7. User Defined Types
 ...
  A UDT value will generally have one value
  for each field of the type it represents, but it is allowed to have less values than
  the type has fields.

  Within a user-defined type value, all data types should use th

[2016-11-29 20:35] #841 closed

[2016-12-01 08:36] evildecay opened #844 "support token aware routing when query is not prepared"
Use tokenaware, Routing key is the partition key or token?

[code]
Did not see the relevant instructions, can explain?
If the partition key, there are two fields how to do?

Is that right?
[code]
thanks!

[2016-12-01 12:54] GQHero opened #845 "gocql prepared all queries"
Hi,

It seems that gocql will prepare all the queries like CRUD.
But we have lots of random read and write, which may cause the cache soon run out.
Is there some ways to avoid using prepared query?

Thanks.

[2016-12-01 21:29] robusto commented on #844
You do not need to specify a routing key when using `tokenAwareHostPolicy`.

From gocql/polices.go
[code]

In the Query's "GetRoutingKey" method (https://github.com/gocql/gocql/blob/master/session.go#L768), gocql will attempt to set the routing key based on the partition key columns of the statement's table which is then used to select a host based on the partition key in  "GetHostForPartitionKey"

[2016-12-02 10:02] evildecay commented on #844
Hi @robusto

I tested the program, if do not specify RoutingKey, gocql can not automatically set RoutingKey.
The TokenAware policy does not work because there is no RoutingKey.
[code]
I see the source code found here to always return nil
https://github.com/gocql/gocql/blob/master/session.go#L484

Test code written in a problem?
[code]

Thanks for the reply!

[2016-12-06 04:40] varunturlapati commented on #575
Is this workaround for docker command or gocql driver only?

[2016-12-17 19:14] vrischmann commented on #845
[This](https://sourcegraph.com/github.com/gocql/gocql@db6f35eb602dd0770a7162e0e23e5cfb1cc05b91/-/blob/session.go#L826:17) is always called when executing a query, and looks like the behavior is hard coded.

Right now it looks like your best bet would be to modify gocql directly and change `shouldPrepare` to your liking.

[2016-12-18 10:48] Zariel commented on #845
The issue arises from the fact that the driver wont know how to serialise your types into the columns Cassandra expects without preparing, all prepare really does is cache the type information which is used when serialising the request.

You shouldn't really be thrashing the cache, if you're using queries without bind params then thats a simple fix.

[2017-01-11 10:47] moxar commented on #764
+1

[2017-01-11 16:57] jesse-c opened #849 "KeyspaceMetadata() returns a struct even if the keyspace doesn't exist"
Was this a design decision? If not, I'd be happy to try and tackle this.

For example, return nil, nil, or nil, error("Keyspace doesn't exist") from KeyspaceMetadata().

[2017-01-12 02:40] kenng commented on #831
having similar issue with this as well when running in the kubernetes services. The IP of the cassandra change slightly (from 10.48.0.54 to 10.48.0.56) after the pod image has been updated to new version. When this happened, the error will be thrown out.

[2017-01-16 18:57] yuekui2 opened #851 ""Memory leak" in exec(*Conn) time.NewTimer()"
We recently found there is significant resident memory increase in our service. We did profiling using pprof, which shows ~65% inuse space is from time.NewTimer().

Not sure how could I post the profiling results here. I could email it as needed.

Thanks.
-Kui

[2017-01-17 10:50] Zariel commented on #851
Thats interesting, you could email me the results and ill take a look

[2017-01-17 18:54] yuekui2 commented on #851
Hi Chris,

See attached. In residentMem, we intentionally stopped the query traffic
for ~20 minutes to let gc kicked in, so that we could get a sense the "net"
memory usage.

Thanks for your help.

-Kui

On Tue, Jan 17, 2017 at 2:50 AM, Chris Bannister <notifications@github.com>
wrote:

[2017-01-18 21:31] Bowbaq opened #852 "Data race using *gocql.Session.Query(...) concurrently"
We have a piece of software that inserts a lot of data in cassandra. We run our tests under the race detector. We've seen a few failures when using `*gocql.Session.Query(...)` concurrently.

We have one global session object and all the writer goroutines re-use it.

[code]

Let me know if you need additional details, I'll do my best to provide them.

[2017-01-18 22:52] primalmotion commented on #764
+1 this is utterly annoying

[2017-01-19 07:13] t2y commented on #851
I'm interested in this issue, then reading conn.go now. I found that it seems not to close `call.timeout` channel in case `<-c.quit`.

[code]
* https://github.com/gocql/gocql/blob/master/conn.go#L656

Additionally, there is an error case after that, and it seems not to close `call.timeout` channel.

* https://github.com/gocql/gocql/blob/master/conn.go#L668

I'm not sure whether `call.timeout` has

[2017-01-19 09:05] Zariel commented on #851
@yuekui2 it looks like the attachment was removed?

[2017-01-19 18:45] yuekui2 commented on #851
@Zariel Upload the attachment to google driver (see the link below)
We actually found the cause, which is due to a wrong timeout setting (10^6 seconds, as a result of switching a config to time.Duration). However, how does this mistake trigger the issue is still out of my mind. It seems this triggers some "weak" logic somewhere.

Thanks.

https://drive.google.com/open?id=0B1gwKAT7eAiPeHpQTHpqNkQzV

[2017-01-19 19:09] yuekui2 commented on #851
@t2y
I did try to figure out how many callReq objects are not going through the release code path. I revised the code to add an id to the callReq and give a sequential id in the New func of sync.pool. I record down the id and the timestamp when getting and releasing. https://drive.google.com/open?id=0B1gwKAT7eAiPRlIyWXN0QkhPOTg has the 2000 records from the beginning of the run. From the data, the

[2017-01-19 19:39] Zariel commented on #851
Not all `callReq` structs will be re used as the pool will be flushed between gc cycles so that I would expect.

I guess the issue is that if a timeout is set and the call returns before the timeout the timer will still be running and is only stopped when it is pulled out of the pool.

[2017-01-19 19:55] yuekui2 commented on #851
@Zariel
1) as the id is assigned when New in sync pool, it should be at lease once, one get and one release. That is why this experiment emphasizes from the beginning of the run. My intention is just to get a sense of the number of requests are in some kind of "error" condition (, and the conclusion is very few)

2) even if the timer does not stop, it should NOT impact that it is GCed. I did an ex

[2017-01-21 01:15] yuekui2 commented on #851
Now I have a clear idea about how the long timeout causing "memory leak". Basically a timer object can NOT be garbage-collected before the timer expires. As the objects in the sync pool are moved to be garbage collected at the start time of every garbage collection cycles (see this link for sync pool, https://www.cockroachlabs.com/blog/how-to-optimize-garbage-collection-in-go/), for timers with lo

[2017-01-21 13:50] Zariel commented on #851
@yuekui2 thank you very much! I have created a PR to add your commit and will merge once it passes CI

[2017-01-22 11:54] #851 closed

[2017-01-22 20:58] Zariel commented on #852
I just ran into this when testing, it looks like the connection is being closed whilst a query is being prepared to be sent on the wire.

[2017-01-22 20:59] #849 closed

[2017-01-23 17:12] thrawn01 commented on #839
I ran into this issue as well. Turns out `NewSession()` will not return until all discovered peers in a cluster have connected or timed out after 3 attempts (3 attempts is hardcoded). So if your timeout is 5 seconds 5 * 3 = 15 seconds until `NewSession()` returns. Imagine if you have more than one node down!

Currently the connect and connection methods both share the same timeout. I'm working on

[2017-01-26 19:18] Zariel commented on #839
If a node is down the error reported from dial should indicate that it is not temporary and should not be retried.

An interesting thought is at what point can we say the driver is `connected` to Cassandra, in the sense that nodes can go up and down, that a DC containing a users data is not contactable, that not enough nodes are connected to serve all queries.

I think it could make sense to say t

[2017-01-30 12:36] laz2 commented on #831
Same problem with deploy in kubernetes.

[2017-01-30 17:49] jdness commented on #831
We were frequently getting this error but for us it ended up being Cassandra-related, not gocql-related.  Our single instance Cassandra cluster was frequently hitting stop the world garbage collection for hundreds of milliseconds at a time.  We optimized our application database operations, tuned the Cassandra JVM settings, changed the GC mechanism (CMS -> G1GC), lengthened the gocql timeouts (600

[2017-02-03 17:11] colonelmo opened #857 "panic: sync: inconsistent mutex state"
[code]

[2017-02-03 17:23] Zariel commented on #857
What version of Go are you using?

[2017-02-03 18:54] Zariel commented on #857
Given this is in the lock of the sync.Pool im going to close and suggest you open an issue with Go

[2017-02-03 18:54] #857 closed

[2017-02-04 01:20] robusto commented on #831
TL;DR: In K8s (or equivalent), you should be using Pet Sets (or equivalent) with a stable hostname and linked volumes for your stateful services, like Cassandra. Basically this: http://blog.kubernetes.io/2016/07/thousand-instances-of-cassandra-using-kubernetes-pet-set.html

----

Shifting hosts under DNS is sort of an anti-pattern in C* because it relies on concrete, addressable targets in order t

[2017-02-05 16:32] thecadams commented on #415
Found this after some googling and thought I would leave this here for a fellow traveler in need. I wanted to allow gomock to process

My approach was to wrap `gocql.Session` with code that should make the calling code look almost identical. The methods you may want to implement will be different, but this should make a decent starting point:

[code]

[code]

Now in test code you can pass in mockg

[2017-02-05 20:57] willfaught commented on #415
Check out https://github.com/willfaught/gockle, it does something similar to enable mocking.

[2017-02-06 03:16] thecadams commented on #415
Thanks!

[2017-02-06 22:58] thrawn01 commented on #839
Turns out the issue I encountered was indeed a temporary one, but not one gocql could detect.. Some of the nodes where super busy and allowed the connection, but then never responded in a timely manner. `dial tcp: i/o timeout` which resulted in `gocql: no response to connection startup within timeout` for some nodes.

[2017-02-07 00:57] sirupsen commented on #766
Great stuff, I've added this to the official READMe https://github.com/sirupsen/logrus/commit/080ca65fb5a85b6f2b42053b9a895d462ed0ddff

[2017-02-08 01:43] robusto commented on #844
Version: Apache Cassandra 3.7 (CCM)
GoCQL: rev 4d2d1ac

Finally got some time to look into this. It does indeed fall back on the RoundRobin selection strategy.

[code]

The `info.request.colCount` is always 0 for this query after it attempts to be prepared. This is likely because the session is attempting to prepare a query with no actual columns to prepare because the value is hard-coded (i.e. id

[2017-02-08 05:58] evildecay commented on #844
Hi @robusto
In accordance with the test that you really do, thank you very much for your answer.
Hope that the document can be more detailed gocql some, there can be released version of the update to explain the better. Of course, I know this will increase the workload, I hope this project can get better and better.

[2017-02-11 21:48] Zariel commented on #844
TBH In this case we should still be able to token aware routing based on the constant passed in, going to reopn

[2017-02-14 14:26] thrawn01 commented on #725
Related to #839 ?

[2017-02-16 10:31] let4be commented on #696
Takes around 30 here... Any idea what to do?

[2017-02-16 10:48] dahankzter commented on #696
I simply added a config property that we use that toggles the host lookup.
Not ideal but works.

On Thu, Feb 16, 2017, 11:31 Sergey F. <notifications@github.com> wrote:

[2017-02-17 00:06] nemosupremo opened #861 "Support UNSET values in Prepared Statements"
A useful feature ([CASSANDRA-7304](https://issues.apache.org/jira/browse/CASSANDRA-7304)) in 2.2.0+ is to treat `null` values as unset in prepared statements (the difference here is that sending a `null` in a prepared statement is the equivalent to a DELETE - which causes tombstones, unset just treats it as you not having set anything at all). I'm looking to start work on PR, but I don't think I c

[2017-03-05 11:51] MyTotoro opened #864 "reflect in MapScan causes panic"
Error that I'm seeing

[code]

Go Version:
`go version
go version go1.8 darwin/amd64`

My code:
[code]

This is my table definition:

[code]

[2017-03-07 09:37] evildecay commented on #864
I also encountered this error, because gocql did not support the date type, I simply fix this error, the repair code is as follows:

helpers.go line59 add
[code]

marshal.go line157 add
[code]
[code]

[2017-03-07 09:37] ychen11 opened #865 "Compile Error: r.hp.SetHosts undefined"
go version: 1.7.4 Linux/amd64

I imported gocql, and tried to compile my project, it threw the compile error:
[code]

Not just line 402, but also 425 and 444

[2017-03-08 11:06] vrischmann commented on #865
You probably need to update your vendored copy of `github.com/hailocab/go-hostpool`

[2017-03-08 11:49] ychen11 commented on #865
@vrischmann I tried the latest bitly/go-hostpool and also hailocab/go-hostpool.
Same error, could you please post the so-called updated hailocab/go-hostpool?

[2017-03-08 12:19] ychen11 commented on #865
Here is my folder directory:
[code]
I checked the go-hostpool, it has an interface HostPool, and also HostPool has SetHosts method.
BUT: It throws the error I mentioned on the top, is there anything wrong?

[2017-03-08 12:25] vrischmann commented on #865
If that's the case I would try to delete your `$GOPATH/pkg` directory, or `$GOPATH/pkg/path/to/your/project` directory if you don't want to remove everything. Then try to recompile your project.

[2017-03-08 12:41] ychen11 commented on #865
@vrischmann Thanks, that works.

[2017-03-08 12:41] #865 closed

[2017-03-08 21:21] Zariel commented on #864
Have you considered submitting a pull request?

[2017-03-08 21:24] Zariel commented on #861
From what I can tell this just requires sending -2 instead of -1 for null values. How would the user indicate that it should send "unset" instead of "nil", we could add a type? `gocql.UnsetCol` which got marshalled to `-2` which would be relatively clean

[2017-03-08 21:24] Zariel commented on #837
I am not familiar with AppEngine sorry

[2017-03-08 21:25] Zariel commented on #835
@clanstyles any update?

[2017-03-09 14:55] sapiens-sapide opened #868 "Marshal/Unmarshal of struct fields of type []byte do not work for uuid cql type"
Field of type `[]byte` that maps to an `uuid` type within Cassandra will failed to Marshal/Unmarshal with error `can not marshal []uint8 into uuid`.
Likely because gocql's functions _marshalUUID_ and _unmarshalUUID_ test if the field is of type `[]byte`. But the go's `.(type)` switch returns a type `[]uint8` instead !
The switch within _marshalUUID_ and _unmarshalUUID_ functions (and related) shou

[2017-03-09 15:26] JelteF opened #869 "The hostinfo pull request broke connecting to our 2.0.15 cluster"
Suddenly with the newest version we cannot connect to our cluster anymore.
I'm getting this error:
[code]
the code in question is this:
[code]

When printing the HostInfo from inside `ConnectAddress` I get the following list of HostInfo's:

[code]

When going back to the previous commit in gocql everything is fine. So this #860 is the one that broke it.
Before I did get these messages, but the cod

[2017-03-09 15:58] Highstead commented on #869
We're seeing a break as well in dev.  Havn't pushed to prod yet i suspect it had to do with rpc vs broadcast.

[2017-03-09 20:44] Zariel commented on #869
Thanks for the report, reverted the change, will investigate

On Thu, 9 Mar 2017, 3:58 pm Michael Highstead, <notifications@github.com>
wrote:

[2017-03-09 21:33] nemothekid commented on #861
If we follow the Python driver, there are two methods we would implement

1. A custom type (like `gocql.UnsetCol`).
1. A session level setting that treats all `nil`s as `gocql.UnsetCol`/`-2`.

Going with 1 would be good, but when I last looked at it, the when we write the bytes to the connection we assume if the byte array is nil, we will always write -1.

[2017-03-09 21:47] nemothekid commented on #861
Maybe the fix could be added here - https://github.com/gocql/gocql/blob/5e9bfab8b94dac35b012c8bd39953e928299a86d/frame.go#L1326

Something like -
[code]

[2017-03-10 18:57] bgreezy opened #873 "DNS request timeout appears skip moving on to next node and returns nil session"
We use an internal DNS server, but as you can see from the picture when it was misconfigured to go out to Google DNS at 8.8.8.8, the gocql connector couldn't resolve the domain name and it didn't go on to any other node, it just returned a nil session which crashed the program, I put in a piece of code to continue trying to re-establish the session to force it to use a different node, but I figure

[2017-03-21 13:48] vladzcloudius opened #879 "CQL binary parser ignores Tracing flag in the response if request didn't have the Tracing flag set"
*Setup*
gocql tree:
 * HEAD: 2faf01b9681e19c25b01de3b7e78f90447d71869

go application tree:
 * URL: https://github.com/tomer-sandler/scylla-code-samples
 * HEAD: 7dbd4fef76926372457acfe7794d3e829ea4b075

scylla tree:
 * HEAD: 85a127b

*Description*
When testing the Go CQL driver with scylla (https://github.com/scylladb/scylla) the application crashed when we enabled the probabilistic Tracing or Sl

[2017-03-22 09:24] #879 closed

[2017-03-22 09:25] Zariel commented on #864
@evildecay thanks for the PR

[2017-03-22 09:25] #864 closed

[2017-03-22 09:25] #852 closed

[2017-03-23 05:19] evildecay commented on #828
The latest has been supported

[2017-03-23 09:19] Zariel commented on #828
thanks

[2017-03-23 09:19] #828 closed

[2017-03-23 13:09] craveica opened #882 "Failed to connect to a Datastax Enterprise cluster using their custom authenticator"
[code]

[2017-03-23 14:53] #882 closed

[2017-03-24 08:53] olegabr commented on #828
the commit https://github.com/gocql/gocql/commit/bdbe7c9b943cfd07dfeccccbaa04071ae7ce22b6 is very good, but no tests were added for the new functionality added.

[2017-03-24 09:14] evildecay commented on #828
@olegabr Yes, test file will be added later.

[2017-03-24 13:36] #869 closed

[2017-03-25 00:09] Zariel commented on #823
Closing this as I think its fixed by #875

[2017-03-25 00:09] #823 closed

[2017-04-01 22:11] papisz commented on #868
Hi, is this a confirmed bug? I was looking for a "good first contribution", but I am unable to reproduce this one (perhaps I've made a mistake somewhere).

I've created a simple struct with `[]byte`, added some data with cassandra's `uuid` type and it works for me.

The *only way* I've managed to get the same error was passing *inproperly* casted uuid to `Marshal(NativeType{proto: 2, typ: TypeUUID

[2017-04-02 07:42] leighmcculloch commented on #873
I'm seeing the same behavior. If one of the my nodes drops off DNS inconveniently around the time I'm creating a new session, I get:

[code]

For consistency with the Java library it should treat an inability to lookup like a timeout connecting to the host and move on to other nodes. This happens regardless of the consistency value I provide, so even if I provide `gocql.One` it still happens.

[2017-04-02 16:03] Zariel commented on #868
If it works then I would be happy to accept a PR that adds a test marshalling/unmarshalling using `[]uint8` and closing this issue. From my checking it seems that it should handle uint8 just fine.

[2017-04-02 16:04] Zariel commented on #873
Here we should ensure that we can connect to at least 1 of the supplied hosts, we will discover the rest later.

[2017-04-03 12:34] sapiens-sapide commented on #868
I cannot reproduce the bug outside of my software… May be there is a name conflict within my stack. But, I still suggest to __replace__ the type switch case from `case []byte` to `case[]uint8`.
Regards.

[2017-04-06 17:26] thrawn01 commented on #869
@Zariel @Highstead @JelteF I just had time to look at this and.... It's a little complicated.

@JelteF according to the`HostInfo` output you provided your cassandra cluster is missing `rpc_address` and `broadcast_address` for each of the nodes in the cluster. The `rpc_address` is the address cassandra clients should connect to, gocql currently uses `broadcast_address` as the client connect address

[2017-04-09 00:07] leighmcculloch commented on #868
I think what @papisz is highlighting is on point: a `[]byte` and `[]uint8` are the same type and are interchangeable. Example: https://play.golang.org/p/XX8FjKFtOf.

@sapiens-sapide: The reason you see the error mentioning `[]uint8` is because if you print the type of a `[]byte` it will come out as `[]uint8`. Example: https://play.golang.org/p/tZtUtD12Bg.

As @papisz pointed out it's likely the `[

[2017-04-09 13:24] Zariel commented on #868
A fix for this then is to improve the error message when its not 16 bytes long

[2017-04-09 15:58] #868 closed

[2017-04-09 21:52] Zariel commented on #868
Thanks @papisz  and @leighmcculloch for looking into this!

[2017-04-11 08:16] #873 closed

[2017-04-18 20:38] zhixinwen opened #893 "retry does not work if the request fails"
In queryExecutor:executeQuery
[code]
The loop would try the next host until any of the host works, but if
`qry.execute(conn)`
times out due to network issue, the rest of the retries would not work. The qry.context has used all of the time in the first call.

Overall, if the request fails on "context deadline exceeds" err, then the rest of the retry would return immediately without doing anything.

[2017-04-18 20:56] Zariel commented on #893
This is #812

[2017-04-19 18:07] zhixinwen commented on #893
Close issue due to duplicate

[2017-04-19 18:07] #893 closed

[2017-04-19 18:14] zhixinwen opened #896 "Query:Iter() does not timeout in some cases"
We set the timeout in each query to be 500 ms, but sometimes it can take more than that.

It becomes a trouble when we have one slow Cassandra node due to network issue recently, and we see around 5% of the queries return using more than 1.5 seconds.

[2017-04-20 20:13] hydroflame opened #898 "ErrTimeoutNoResponse from doing ... well nothing"
I have some very simple code that only sets up the connection to cql and this error is printed (not returned). Can't find out why.

[code]

I've removed all my credential/hostnames and there's some extra code after that that queries a table just fine. I can't figure out why this error is being printed.

[2017-04-20 20:17] hydroflame commented on #898
PEBKAC

[2017-04-20 20:17] #898 closed

[2017-04-23 04:39] zhixinwen commented on #896
This issue may be related to #839

[2017-04-26 21:43] Zariel commented on #896
This is odd because the timeout for the query is done independent of IO
whilst waiting for a response. Query timeout does not include parsing the
result, what total time are you seeing? Can you instrument the code and see
where the time is being spent?

On Sun, 23 Apr 2017 at 05:39 Zhixin Wen <notifications@github.com> wrote:

[2017-04-26 21:46] zhixinwen commented on #896
I would add more log when I have time.
The issue is mostly obvious when one of C* node is behaving slow.
For a 500ms request, I can see response time from 800ms to 10s.

[2017-04-28 13:50] hgfischer opened #899 "Cassandra 3.x support"
Hello,

The README shows that 3.0.x is supported, but it also says that it is tested against the _latest 3 major releases_.

Since Cassandra adopted tick-tock releases, do you know if it works with them, maybe at least with the odd-numbered ones, which are alike stable releases? Otherwise, do you have plans to support them?

Thanks!

[2017-04-28 21:14] cmlicata commented on #779
@Zariel, has this bug been resolved yet?  I'd like to patch it up if it hasn't.

[2017-04-28 22:04] Zariel commented on #779
nope please go ahead

[2017-04-29 11:13] Zariel commented on #896
the timeout is per request to cassandra, so if you read 10 pages the total timeout will be 10 * timeout, you can use a context to prevent multiple pages from spanning over a timeout.

[2017-04-29 22:09] zhixinwen commented on #896
I set both timeout and the context timeout to be 500 ms.

[2017-04-29 23:10] cmlicata commented on #899
@hgfischer, the community decided to end ticktock release in favor of 6 month release cycles in favor of as-needed bug-fix releases on stable branches in January so I believe that supporting 3.11.x, 3.10.x, and 3.9.x is sufficient to say that it works with them.  @Zariel, WDYT?

[2017-05-01 09:51] Zariel commented on #899
From my understanding the tick-tock releases were feature/fix releases so we would only want to run the latest tick-tock release. Ideally I would like to have good code coverage of most of the codebase, and for that we need to run against at least 2.2 and possible 2.1 (though probably not so much anymore).

[2017-05-02 14:47] akshaydeo opened #900 "Fetching records from Cassandra table in realtime using PageState"
I am writing a small ETL system in Golang, which involves writing an extractor for Cassandra. I am using gocql (https://github.com/gocql/gocql) as Cassandra driver.

**Problem Statement**

The problem statement I am trying to solve is, to fetch batch of records from a predefined table in cassandra. Along with that, I want to keep record of till what I have read the records, so when there are newer

[2017-05-02 14:50] akshaydeo commented on #900
Source code for extractor and test cases
https://gist.github.com/akshaydeo/65dacbb8276e0645715469ada4a82078

[2017-05-02 18:15] Xe opened #901 "A more generic logging interface"
Hey all,

In Go logging is not simple. Every team and project ends up having their own idea and theory on what logs are and the purpose they serve.

I propose that instead of the current logging interface (which is really low level and wraps a subset of stdlib log.Logger) gocql should use a logging interface like this:

[code]

This better encapsulates the idea of what log information would actual

[2017-05-02 18:21] wadey opened #902 "RequestErrUnprepared could mask error"
If Cassandra returns the "Unprepared" error code, and the statement ID is not found in the stmts map, there is a bug that returns an iterator without an error attached, thus hiding that an error occurred.

https://github.com/gocql/gocql/blob/79434f238fe5c76efa88f8ed131adefe5b31a0d1/conn.go#L1049

On this line, `err` is still set to `nil` from earlier. A proper error needs to be returned in this ca

[2017-05-03 12:35] anshulr commented on #861
Any Updates on this ?

[2017-05-05 04:56] laher opened #904 "CQL time type is not supported? (similar to #828 )"
_Please excuse my lack of understanding on this - I'm new to cassandra and working with a codebase I'm also new to._

We have fields of type date and time in a CQL table. In some test code we try to marshal  a `select *` statement onto a `map[string]interface{}`. It panics unless I exclude the time field.

 * Notably, until I re-vendored to a recent version, it would panic on the date fields aswel

[2017-05-05 18:26] ColDog commented on #900
We are also having trouble with GoCQL page state. We are getting inconsistent return values with page state and cannot reliably page through results. We send the page state through our api base64 encoded and return it to the backend. The paging only works around 80% of the time however.

[2017-05-06 10:38] Zariel commented on #900
There shouldnt be anything odd going on in the driver, the value is returned just like a query result which is passed out. PageState is only valid for an identical query and values, are you sure values or columns arnt changing?

[2017-05-07 02:47] zhixinwen commented on #813
Should we close this one?

[2017-05-07 09:50] Zariel commented on #813
yep thanks missed this one!

[2017-05-07 09:50] #813 closed

[2017-05-11 18:41] ggeorgiev opened #906 "(*eventDebouncer).debounce: buffer full, dropping event frame"
I am getting the following messages from gocql. I did not find anything conclusive googling and it seems from the code this type of behavior is on purpose. I wish to know a bit more before I dismiss it, though.

What is causing it; can I eliminate the sources of the problem... is it actually safe to dismiss it?

Thanks in advance.

[2017-05-10 18:34:57.860 3902] INFO - {gocql} (*eventDebouncer).de

[2017-05-11 19:29] rlk833 opened #907 "Prepare stmt inflight canceled by context.Cancel gets cached"
I ran into a real nasty problem to debug. I was randomly getting canceled error from a query that was not actually canceled.

I tracked it down to I think in prepare statement. The inflight.err is set to canceled but then this is cached. So that from then on if the same query statement is executed it is immediately canceled in the prepare statement.

(Note: there are two kinds of cancel errors fro

[2017-05-11 20:40] rlk833 commented on #907
Never mind. I hadn't caught up in a little while. You already fixed the problem with gocql/gocql#892

:-)

[2017-05-11 20:40] #907 closed

[2017-05-12 02:35] liudanking opened #908 "how to handle "Batch too large" error when using batch operation?"
I try to insert multiple records using gocql batch operation.
When batch size reaches about 500, it encounters error:

[code]

[2017-05-12 10:52] Zariel commented on #908
this error is coming from Cassandra that your batch exceeds the configured limits, we should report a better error though #281

[2017-05-12 10:52] #908 closed

[2017-05-12 10:52] #902 closed

[2017-05-14 20:23] gmflau opened #909 "unexpected authenticator "com.datastax.bdp.cassandra.auth.DseAuthenticator""
I am using gocql with my DataStax Enterprise 5.1 release and I ran into this "unexpected authenticator "com.datastax.bdp.cassandra.auth.DseAuthenticator" issue.  When I reviewed the code, it looks like DseAuthenticator is one of the supported authenticators -
 https://github.com/gocql/gocql/blob/05df4896cf271375039b0645117594e861bde0d9/conn.go#L31 .

Is there anyone can verify this?  Thanks!

[2017-05-15 21:14] szhou1234 opened #910 "Gocql doesn't parse Cassandra version correctly"
Currently Gocql only split version string with ".". However there are cases you want to use "3.0.10-xxx" as version number. In this case, Gocql will just panic. We should match the behavior with Java driver, which uses the below code for parsing version (from VersionNumber.java):

private static final String VERSION_REGEXP = "(\\d+)\\.(\\d+)(\\.\\d+)?(\\.\\d+)?([~\\-]\\w[.\\w]*(?:\\-\\w[.\\w]*)*)?

[2017-05-17 22:05] cmlicata commented on #779
@Zariel, so I am struggling to figure out exactly where this issue resides because as far as I can see,  the `TypeInfo` struct, which obviously has the, `Version()` method exposed, is provided as part of the `ColumnMetadata`.  Any assistance with this issue would be greatly appreciated.

[2017-05-18 18:15] #861 closed

[2017-05-18 18:17] Zariel commented on #779
There are TypeInfo created in https://github.com/gocql/gocql/blob/05df4896cf271375039b0645117594e861bde0d9/metadata.go#L836 in a few places which dont set the protocol version

[2017-05-22 06:59] Kooper opened #911 "IPv4 string size problem with WhiteListHostFilter"
Hello,

Gocql's filter WhiteListHostFilter stores allowed hosts in map cache and uses string(net.IP) as an entry key. But net.IP may occupy 4 or 16 bytes for IPv4 addresses, depending on external conditions.

In my environment gocql.WhiteListHostFilter("10.54.107.198", "10.54.107.189") inserts 2 entries in cache with keys of 16 bytes len. After that, during ring assembling in session.init(), it lo

[2017-05-22 13:58] freedom1989 opened #913 "Is there any plan for implementing a DCAwareRoundRobinPolicy?"
I am trying to build a multi-datacenter Cassandra cluster. According to the [guide(procedure 1)](http://docs.datastax.com/en/cassandra/3.0/cassandra/operations/opsAddDCToCluster.html), it asks me to use `DCAwareRoundRobinPolicy`.

the `DCAwareRoundRobinPolicy` will try to query the hosts within the local datacenter. if no available hosts in local datacenter, the client will query remote hosts in r

[2017-05-22 21:52] dsmontoya opened #914 "'no response received from cassandra [...]' when modifying the schema"
I intermittently get `gocql: no response received from cassandra within timeout period` when use...
[code]
to modify the schema.

It can be reproduced by running the following docker-compose:
[code]

Cassandra Version: 3.0.13

[2017-05-23 04:25] zhixinwen opened #915 ""gocql: no hosts available in the pool" cannot recover without restart"
We had a cluster degrades due to increased traffic load, and on the client side we see "gocql: no hosts available in the pool" error for ~80% of the requests.

The error rate is very consistent, and the C* cluster is healthy except the load. We try to reduce the load on the cluster, but the error is still consistent. It lasts for two hours.

We restart the client, and the errors go away immediatel

[2017-05-23 04:28] zhixinwen commented on #915
After we close a connection due to too many timeouts, when would the connection be made again?

I do see gocql wait for event from control connection to reconnect. But if no node is perceived as down by the control node, and it never emits a 'node up' event, would gocql try to recreate the connections?

[2017-05-31 11:54] qrpike opened #917 "TokenAware Policy not hitting primary node"
I have set my cluster host policy to use token aware with round robin as the backup.

Code:
[code]

However usually the Query.Latency() is ~150ms, sometimes it's 2-300ms. I enabled tracing and seems in the tracing logs it's still proxying requests through nodes.

[code]

I'm somewhat new to Cassandra but this line`reading data from /10.2.106.25 (source: 10.2.90.10,` makes me thing it's proxing thr

[2017-06-01 17:50] zhixinwen commented on #915
@Zariel gocql closes a connection when it takes too long to respond, when would the connection be reconnected?

I may miss some of the code, looks like it will only reconnect when it receives "Node Up" event?

[2017-06-06 04:05] #702 closed

[2017-06-12 11:23] sunvim opened #919 "it is different between production and development in count execution,why?"
cql = "select count(id) from dsf_deal where id = 'web_static' "
	if whereCql != "" {
		cql = cql + whereCql
	}
	cql = cql + limitSql
	log.Infof("cql[%s]\n", cql)
	cntIter := session.Query(cql).Iter()

	for cntIter.Scan(&totalNums) {
		log.Info(totalNums)
		upsRet.TotalNums = totalNums
	}
	defer cntIter.Close()

the above code work well in development, but bad in production, the value of the variab

[2017-06-14 03:52] didip opened #920 "Feature Request: Able to set socket option when dialing?"
I am thinking of SO_REUSEADDR and SO_REUSEPORT in particular.

[2017-06-16 01:25] didip commented on #913
I happen to need this feature as well

[2017-06-19 18:44] didip opened #921 "Documentation: How to use HostFilter?"
I am very interested in `DataCentreHostFilter` in particular since `DCAwareRoundRobinPolicy` does not exist as policies.

[2017-06-21 22:09] ttaranov commented on #835
I've noticed that if I change cassandra's batch_size_warn_threshold_in_kb to a higher value (batch_size_warn_threshold_in_kb: 10), errors like this timeout above disappear. It makes me wonder whether the inserted record(s) is too large?

[2017-06-24 18:37] mbarreca opened #922 "Newest Commit broke connections"
Hi,

The newest commit has broken the connection to my cassandra cluster.

This line

`cluster := gocql.NewCluster("192.168.1.1")`

Outputs this:

`panic: host missing connect ip address`

[2017-06-24 20:31] Zariel commented on #922
cc @thrawn01

[2017-06-24 20:39] Zariel commented on #922
@mbarreca what version of cassandra and protocol are you using?

[2017-06-24 21:11] mbarreca commented on #922
@Zariel it's Cassandra 3.0.9 and the Protocol is v4

[2017-06-24 22:05] CodingMinds commented on #922
Same here with Cassandra 3.0.9 and v4

[2017-06-24 22:09] mbarreca commented on #922
@Zariel @thrawn01 can you revert to the last commit until further investigation?

[2017-06-25 11:38] Zariel commented on #922
I can't reproduce this locally, can you provide more details about the environment?

Is cassandra running in Docker? What are the nodes listen address and rpc_address and broadcast_address?

[2017-06-25 12:04] CodingMinds commented on #922
In my case it's an Ubuntu 16.04 VM in Virtual Box.
Single node Cassandra with gocql on same host.

Cassandra configuration:
[code]

Host IP configuration:
[code]

Example:
[code]

Error:
[code]

[2017-06-25 12:17] Zariel commented on #922
@CodingMinds thanks, can you update to the latest master and run it again?

[2017-06-25 12:23] CodingMinds commented on #922
@Zariel

[code]

[2017-06-25 13:02] Zariel commented on #922
@CodingMinds can you try with the latest master, thanks

[2017-06-25 13:16] CodingMinds commented on #922
@Zariel looks good, thank you :)

[2017-06-25 14:57] Zariel commented on #922
Great, going to close this. If people have issues again please create a new issue. Thanks very much for the help @CodingMinds !

[2017-06-25 14:57] #922 closed

[2017-06-25 14:58] mbarreca commented on #922
I can confirm it works now too

[2017-06-25 15:04] Zariel commented on #922
Thanks @mbarreca

[2017-06-25 15:08] mbarreca commented on #922
Thank you for fixing it :) @Zariel

[2017-06-25 15:35] CodingMinds commented on #914
I'd say this is more an Cassandra than an gocql thing.
I guess creating a keyspace is really specific task in your application so maybe it's a valid solution to increase timeout for this specific query.

Something like
[code]

See also https://stackoverflow.com/a/31896970/3824339

[2017-06-25 15:45] Zariel commented on #914
We explicitly set the timeout when doing keyspace creation to be massive when running tests in Travis as I have personally seen this take a very long time. The driver will also wait for schema agreement between the nodes, but I'm not sure thats counted for the timeout.

[2017-06-26 22:59] didip commented on #921
After looking at the source code, found the solution:

[code]

[2017-06-26 22:59] #921 closed

[2017-06-26 23:39] didip opened #924 "Why hostIter() is called twice on every loop inside queryExecutor?"
This is the line: https://github.com/gocql/gocql/blob/master/query_executor.go#L25

The code is introduced in this commit: https://github.com/gocql/gocql/commit/a04d2a5e3f4076edc106347f1624809c0733a1a1

If I am reading the code correctly, if I have an even number for Replication Factor (i.e. 2), then it's possible to land on the same host again in the next iteration.

Am I thinking about this corr

[2017-06-27 02:16] freedom1989 commented on #913
I found an alternative solution instead of `DCAwareRoundRobinPolicy`:
[code]
this ensures that the request goes to the datacenter you specified.

although, an implementation of `DCAwareRoundRobinPolicy` is better, I think.

[2017-06-27 18:05] didip opened #925 "On multi DC, with LOCAL_ONE consistency level on read, gocql frequently returns empty results."
The setup:

* 2 DC

* gocql opens `LOCAL_ONE` session to its own local DC. The cluster config also uses `gocql.DataCentreHostFilter` to pick up the local nodes.

* The query is very simple: `SELECT * FROM table where primary_key='example'`

I cannot replicate this using Python driver or cqlsh, but gocql will frequently returns empty results very quickly (within 0.2 seconds).

[2017-06-27 21:45] Zariel commented on #924
What do you mean? It's up to the host selection policy to return hosts, each returned host will be attempted.

[2017-06-27 21:45] #924 closed

[2017-06-27 21:47] Zariel commented on #919
Check the error on the iterator which is returned from `Close()`. Please provide more reproduction steps.

[2017-06-27 21:50] Zariel commented on #917
What does the query look like? Is it using bind variables?

[2017-06-27 21:51] Zariel commented on #915
It should be periodically try to dial nodes that are down, if you can reproduce and build with `gocql_debug` you should see more info about the pool state.

[2017-06-27 22:06] Zariel commented on #925
Can you show some code which executes the query please.

[2017-06-27 22:08] #914 closed

[2017-06-27 22:56] #911 closed

[2017-06-27 23:04] didip commented on #925
After looking at it more, the problem exists somewhere else.

Sorry for wasting your time.

[2017-06-27 23:04] #925 closed

[2017-06-28 05:46] akhiltiwari16 opened #927 "Not able to connect to Cassandra with latest available version."
Hello,

I did latest checkout and started facing connection issues with cassandra. Though it works fine with older version (the one that I checked out around 6 months ago).

Error is:

[code]

Cassandra: 3.9
Go: 1.7 .3

[2017-06-29 02:33] kthommandra opened #928 "Deadlock during NewSession"
Found on da4a50306e7bb46de0d077d7ac78c297de9aaac4

As part of NewSession, ring information is collected using some queries on system tables. If there is a query error then it leads to deadlock as shown in the stack trace below

[stack.txt](https://github.com/gocql/gocql/files/1110740/stack.txt)

[2017-06-29 02:35] kthommandra commented on #928
I hit this issue in our setup and was able to recreate the issue by reducing the connection timeout value after setting up the control connection and

[code]

[2017-06-29 02:36] kthommandra commented on #928
Here's my analysis of the issue ... appreciate comments.

1) errors during establishing the control conn (controlConn.withConn), cause reconnect without ring refresh
2) errors during heartbeat (controlConn.heartBeat) causes reconnect with ring refresh
3) errors in query execution on control connection (controlConn.HandleError) cause reconnect with ring refresh

- during query error on control conn

[2017-06-30 07:21] akhiltiwari16 commented on #713
I am getting the same error with latest release. Though it works fine with the older version that I have.
Issue has been raised  on [https://github.com/gocql/gocql/issues/927]().

[2017-06-30 16:23] hsluoyz opened #929 "gocql failed to connect to Cassandra in Travis CI"
https://travis-ci.org/casbin/cassandra-adapter/jobs/248833341

[2017-07-01 12:02] Zariel commented on #929
Could you try with the latest commit please.

[2017-07-01 13:22] hsluoyz commented on #929
Hi @Zariel ,

The error remains the same: https://travis-ci.org/casbin/cassandra-adapter/jobs/248833341

[2017-07-02 11:42] Zariel commented on #929
I was able to reproduce locally, this seems to only affect 2.0.x and I no longer remember what the changes to the system tables were between these versions so I hope this is now fixed. Can you try and reproduce and confirm. And FYI, I would update the version of Cassandra you test against :)

[2017-07-02 12:00] hsluoyz commented on #929
Hi @Zariel ,

The error has been fixed when I restart the build:)

My testbed is Travis CI. So the version of Cassandra is not controlled by me. I didn't see its version in the printed log of Travis page either. Thanks for your support!

[2017-07-02 12:00] #929 closed

[2017-07-02 14:15] Zariel commented on #928
Thanks for the investigation, I think what should happen is if 2 goroutines attempt to reconnect the control connection that the first one wins and the second waits for the result of the reconnection.

[2017-07-03 04:46] nupurbansal8 opened #933 "More than 1 connection being created to a cassandra server on creating a session."
When creating a cassandra connection in go, I am using the following connection variables:
     cluster.Consistency = gocql.LocalOne
The cluster right now consists of only one node.

On creating a session, I check connections through netstat command and see that 3 connections have been created to the cassandra server.
Why are there 3 connections instead of 1 ??

[2017-07-03 08:31] Zariel commented on #933
LocalOne is the consistency, the driver will use NumConns * NumberOfHosts + 1 connections

[2017-07-03 08:31] #933 closed

[2017-07-03 20:37] Zariel commented on #927
Im unable to reproduce this with 3.9 locally, can you post the cluster config and describe the cluster config

[2017-07-06 01:01] therealplato opened #935 "Sequential append-to-list UPDATE queries are inconsistent"
(xpost https://stackoverflow.com/questions/44917094/how-to-gurantee-cassandra-queries-execute-in-order )
I don't know whether this issue is gocql's fault or a configuration problem, but running the same queries with the `cassandra` package in python does not reproduce the issue.

---

I'm running a three node cluster. So far I've been assuming that if I write to cassandra and receive no error, tha

[2017-07-06 08:07] Zariel commented on #935
The write order is last write wins so ensure that sending timestamps is enabled, can also explicitly send timestamp per query

[2017-07-06 12:15] cassandraMetro opened #936 "after upgrade logon takes too long (ConnectTimeout)"
Hi,
I have found an issue when using an non-default ConnectTimeout. In my program I have set it to 4 minutes long time ago and it was running fine. Since upgrading gocql to the latest version the connection takes >15 minutes!
When setting ConnectTimeout to 10 seconds, the logon takes ~1 minute, when setting it to 2 secs, the logon takes 15secs, when defaulting it it takes ~5 secs.
There are NO fai

[2017-07-08 12:35] Zariel commented on #572
We can now use []interface, [...]interface{}, struct{} to handle tuples

[2017-07-10 16:09] liornabat commented on #936
I have the same issue,
A cluster of 3 on Docker
setting cluster.DisableInitialHostLookup = true didn;t  help

[2017-07-11 08:42] Zariel commented on #936
Can you do `SELECT peer, rpc_address, broadcast_address, release_versionFROM system.peers` and post the output please

[2017-07-12 06:16] liornabat commented on #936
there is no broadcast_address field in this table, other values are
(peer, rpc_address, release_version)
10.42.62.203 10.42.62.203 3.11.0
10.42.235.88 10.42.235.88 3.11.0

[2017-07-12 06:50] cassandraMetro commented on #936
Hi,
col broadcast_address is not existing.Here are the remaining cols:
 peer          | rpc_address   | release_version
---------------+---------------+-----------------
A.42           |  A.42         |           3.0.8
A.43           |  A.43         |           3.0.8
B.150          | B.150         |           3.0.8
B.151          | B.151         |           3.0.8
B.152          | B.152         |

[2017-07-12 16:25] rlk833 opened #938 "UnmarshalUDT should allow for obsoleted fields"
As time goes on fields in data can be obsoleted. When this happens we would like to just remove it from the Go struct. This works great on write, since the field is not found in the struct the field is not written to DB. But in reverse does not work. If there is a field in the DB UDT but not in the Go struct it bombs the request.

My suggestion is that if there is no Go struct field (or one with a

[2017-07-12 21:43] Zariel commented on #936
What address are they contactable via? The one advertised?

[2017-07-13 05:16] nupurbansal8 opened #939 "Selecting columns from cassandra table having null value"
When i am selecting a column having a null value in the cassandra table, on reading through MapScan it is being read as the default value for that column type.

Example,
If we are selecting a column of bigint type, and it has null value in a row then this is read as 0 in go.

Is this the default behaviour?
And if yes, is there any way around it so that I can distinguish between actual 0 value and

[2017-07-13 05:56] cassandraMetro commented on #936
Connection works on all of the 9 IPs. Always takes very long time for connecting.

[2017-07-13 07:36] liornabat commented on #936
the same

[2017-07-15 08:09] liornabat commented on #936
A hint,
if i run the cluster locally (using docker) AND disconnect the internet (no external connectivity) it's connected immediately, i  enable it the internet again, 16-20 seconds for getting session. very annoying.
any idea?

[2017-07-16 09:26] Tigraine commented on #913
I just stumbled over this myself.. I was expecting much better latencies but found that my nodes in europe still connected to the US C* nodes and incurred an absurd amount of latency

[2017-07-16 10:56] Tigraine commented on #913
Thanks @freedom1989 - I implemented a CloudSnitch like functionality in my client to detect the local DC and now my latencies went from ~200ms to around 10ms ..

[2017-07-17 15:36] Zariel commented on #793
This is now doable via contexts

[2017-07-17 15:36] #793 closed

[2017-07-17 22:16] sid-agrawal opened #941 "Logging in GoCql"
When a query is Scan/Exec() is there an easy way to figure out how many times the query was retried ? Secondly, is there an infrastructure to pass a logging object to gocql's session

[2017-07-18 08:33] Zariel commented on #941
http://godoc.org/github.com/gocql/gocql#Query.Attempts
http://godoc.org/github.com/gocql/gocql#StdLogger

[2017-07-18 08:33] #941 closed

[2017-07-20 14:58] kthommandra commented on #928
I'm not sure if this is a multi-go routine issue.

Given that, reconnect(true) involves query (for ring refresh), the controlConn.HandleError doing a reconnect(true) sounds incorrect given ring refresh is non-reentrant.
Change #504 made HandleError use reconnect(true).

Do you see an issue if we do the following:

- heartBeat is the only codepath where reconnect(true) is done and hence ring is ref

[2017-07-21 11:14] kthommandra commented on #928
Just to clarify - IMHO, the deadlock issue discussed here isn't related to multiple go-routines. I agree that reconnect needs to be multi-goroutine safe. However, thats a separate issue.

[2017-07-23 12:04] #913 closed

[2017-07-26 21:44] junchaowu commented on #939
+1 Need for this feature.

[2017-07-26 23:07] Zariel commented on #939
Cassandra does not say that a type is 'nullable', in cassandra all types are nullable. MapScan blindly unmarshalls into the default value that corresponds to that type, this is equivalent to writing the following

[code]

In this case p can never be nil, writing `*p = nil` is not valid. Instead the following needs to be done

[code]

Here setting `*p = nil` is valid and will set p to be nil. While

[2017-07-26 23:07] #939 closed

[2017-07-28 23:37] andrewdeandrade opened #946 ""no connections were made when creating the session" error"
Pull Request #888 is causing CreateSession to exit with a "no connections were made when creating the session" error. I am at a loss on how to provide more details on this error since it is pretty vague.

cc/ @rkuris

[2017-07-31 03:31] ghost opened #947 "Is it possible to have a connection string similar to what you'd give a JDBC ?"

[2017-07-31 14:00] hydroflame commented on #947
I have a feeling that strings like `jdbc:cassandra://host1--host2--host3:9160/keyspace1?primarydc=DC1&backupdc=DC2&consistency=QUORUM` are a java specific thing but I need to ask for work related reasons.

[2017-08-02 08:10] penberg commented on #909
@gmflau Are you sure you were using an up-to-date version? The issue was fixed in https://github.com/gocql/gocql/issues/882, and reading the code, it should work fine.

[2017-08-02 08:15] penberg commented on #904
@laher Correct, `gocql` indeed does not currently support the `time` CQL type.

[2017-08-03 05:51] idealhack commented on #831
@robusto Hi, thanks for your explain.

We use Cassandra in K8s Stateful Sets (follow the [official example](https://kubernetes.io/docs/tutorials/stateful-application/cassandra/)), then the client can use a pod DNS name to connect to servers. But When some pods been deleted (e.g. because of node migration) while the data volumes still the same, the client still receive errors about the old IPs.

Is

[2017-08-03 10:41] nupurbansal8 opened #949 "Same query taking too long on consequent hits"
For the same query, I am getting variable execution time on a cassandra cluster.
The variation is very vast. For 1 hit it is taking 3ms while for next hit it is taking 42ms.

What can be the possible reason ?

[2017-08-03 11:38] Zariel commented on #949
Network issues? Garbage collection in Go? Garbage collection in Java? Disk contention in cassandra? Cassandra process suspended?  Cassandra cpu overloaded? Compaction in Cassandra? TCP message buffering? Cassandra threadpools busy?

[2017-08-03 11:38] #949 closed

[2017-08-03 11:51] Zariel commented on #947
Currently not yet, you probably could json serialise the cluster config, or implement yourself something with converts a URI into a Cluster object

[2017-08-03 12:36] Zariel commented on #831
Can you build with the `gocql_debug` tag and provide the logs of the hosts being discovered? Cassandra should notify the driver the node went down, then another one came up.

[2017-08-03 13:40] idealhack commented on #831
@Zariel Thank you.

Output from `nodetool status`, which is latest and correct:

[code]

Output from gocql:

[code]

And output from C++ client in the same cluster (if it helps):

[code]

I reproduced this by following the steps I said in last comment.

[2017-08-03 15:33] thrawn01 commented on #831
I'm assuming the node `10.244.5.5` goes down for node migration here
[code]
Then returns with a new kubernetes assigned IP address here
[code]
Question is, does C* send a `UP` node event with the original ip address or the new ip address.

This log suggests C* sends the original ip address in the `UP` node event. (which kinda makes sense) If it's the original ip address gocql uses the `HostInfo` f

[2017-08-04 04:08] idealhack commented on #831
@thrawn01 Thank you.

I'm convinced that a pod's IP should not change when it crashes and restarts, but it will change when it has been deleted and another pod comes up, which is the situation I reproduced, with `gocql_debug` flag enabled.

The logs above was wrote after the deletion and recreation, even more, the clients are also restarted, so I thought the old IPs should never appears in client

[2017-08-04 08:17] idealhack commented on #831
I deleted all pods (without deleting data on most node) again, and found out the first pod has those old IPs (I guess it reads from previous disk data). And I continued adding new pod.

At last the `nodetool status` on the first pod reports:

[code]

In the mean time, gocql reports (omits some redundant part):

[code]

Hmm, seems something wrong about those UP nodes, right?

I stop gocql and run i

[2017-08-04 11:08] Zariel opened #951 "Support tracing"
Placeholder issue to support tracing via opentracing

[2017-08-04 14:24] fortytw2 commented on #764
You should be "mocking" the behavior of `gocql` out at a slightly higher level than you may think. Try something along the lines of:

[code]

Then pass a `Datastore` throughout your application, creating it in/near your `func main`. This allows you to write unit tests using a `MockStore`, integration tests using the real cassandra store, and run for real with cassandra. https://github.com/matryer/

[2017-08-04 17:44] Zariel commented on #946
build with `gocql_debug` tag and share the logs

[2017-08-04 20:15] Zariel commented on #764
And then in integration tests verify that the query and args are correct. I feel this is the best way and is how I've done it in the past.

[2017-08-04 20:22] Zariel commented on #831
I think whats going on here is your cassandra cluster has stale nodes in gossip. Gocql will get an node up event, then refresh the ring which returns the down nodes (the system tables do not include gossip state). The question here is how long should gocql keep trying to connect to downed nodes before they are removed from the local ring? If you do `nodetool removenode <node>` does gocql drop the

[2017-08-05 15:28] #658 closed

[2017-08-07 19:34] robusto opened #953 "Session Timeout and Context Timeout"
Looking at the "exec()" method of "Conn" in "conn.go",  it seems like there's two ways we can hit a timeout condition when a Context with a deadline is provided to the Query.

As I understand it, the "Session" ClusterConfig.Timeout value is propagated to Conn which is used in the "timeoutCh" and and the Query's context is used for "ctxDone". Coming from the Datastax drivers, this is unexpected beh

[2017-08-08 02:46] idealhack commented on #831
Sorry I'm not that familiar with cassandra nor gocql.

I think the main issue is gocql somehow reports a ring contains some UP nodes which are DOWN actually. As time goes, the number of this kind of nodes keeps adding up, Eventually:

`2017/08/04 15:29:23 Session.ring:[10.244.4.36:UP][10.244.9.5:UP][10.244.3.71:UP][10.244.6.10:UP][10.244.4.34:UP][10.244.4.47:DOWN][10.244.3.66:UP][10.244.4.51:UP][1

[2017-08-08 12:04] mrwonko opened #954 "Scan treats empty string like null"
[code]
will write nil into `result` when an empty string is stored in Cassandra.

[2017-08-08 12:42] mrwonko opened #955 "Scan does not treat byte slices as nullable"
[code]
If the given field is `null`, this will store `[]byte{}` in `result` instead of `nil`. I guess this is because `isNullableValue()` only treats pointers as nullable.

[2017-08-09 00:57] zhixinwen commented on #915
I think the root cause of the problem here is:

1. When all connections to a hosts are closed, the host is not marked as down, so ReconnectInterval would not help
2. HandleError in hostConnPool would try to refill the connection pool when a connection is closed, but in an outage it is very likely to fail. Moreover it would not retry afterward. As a result, when the cluster recovers after all the c

[2017-08-09 10:44] megaherz commented on #946
I'm new to gocql, but have the same issue:
[code]
Resulting in

[code]
Cassandra is running as 2 nodes in docker container.

Connecting with cqlsh results in
[code]

[2017-08-11 05:31] nupurbansal8 opened #956 "On using DCAwareRoundRobinPolicy, read also searching on remote hosts"
I am using DCAwareRoundRobinPolicy for my cassandra connection. But the time taken for querying by my driver is comparatively larger than when i am using the same connection parameters in php.

The datastax driver in php uses the function to the the same:
withDatacenterAwareRoundRobinLoadBalancingPolicy( string $localDatacenter, int $hostPerRemoteDatacenter, bool $useRemoteDatacenterForLocalConsis